<div class="app-wrapper" ng-init="getLanding()">
    <div class="app-wrapper__overlay" ng-class="{'app-wrapper__overlay_visible': panelState == true || modalState == true }" ng-click="togglePanel()"></div>
    <div class="add-button" ng-click="togglePanel(blocks.length)">
        <span class="icon-plus"></span>
        <span>{{'Добавить блок' | translate}}</span>
    </div>
    <div class="top-toolbar">
		<div class="top-toolbar__col top-toolbar__col_left">
			<a class="button button_topbar"><span class="icon-arrow-left"></span>{{'Вернуться на сайт' | translate}}</a>
		</div>
		<div class="top-toolbar__col top-toolbar__col_right">
            <a ng-if="blocks.length != blockCash.length || change" ng-click="cancel(); changeAndSave(false)" class="button button_topbar">{{'Отмена' | translate}}</a>
            <a ng-if="blocks.length != 0" class="button button_topbar" onclick="window.location.href=window.location.href.replace('edit','view')"><span class="icon-eye"></span>{{'Предпросмотр' | translate}}</a>
			<a ng-if="blocks.length != 0" ng-class="{'button_sending': sending}" class="button button_save button_progress" ng-click="publish()">{{'Опубликовать' | translate}}</a>
		</div>
	</div>
    <div class="sections">
        <div class="section section_editable empty-block" ng-if="!blocks.length">
            <div class="wrapper">
                <div class="empty-block__container">
                    <div class="empty-block__title">Добро пожаловать в конструктор лэндингов для&nbsp;партнеров компании Grand Capital</div>
                    <div class="empty-block__text">Теперь Вы можете создавать свою собственную страницу с красивым дизайном, через которую будете привлекать клиентов! Чтобы начать, добавьте первый блок.</div>
                    <div class="empty-block__button">
                        <a class="button button_base" ng-click="togglePanel(0)">{{'Добавить блок' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="block in blocks | orderBy: 'order'" ng-include="block.template"></div>
    </div>
    <footer class="footer">
        <div class="wrapper">
            <a href="/static/agreements/Risk_disclosure.pdf">{{'Уведомление о рисках' | translate}}</a>:
            <span>{{'risk_disclosure' | translate}}</span>
            <p><a href="/static/agreements/privacy_policy.pdf">{{'Политика конфиденциальности' | translate}}</a><span>{{'privacy_policy' | translate}}</span></p>
        </div>
    </footer>
</div>

<div ng-init="translations()" ng-include="'/static/landings/views/menu.html'"></div>
<div ng-init="translations()" ng-include="'/static/landings/views/modals.html'"></div>

<script type="text/ng-template" id="intro_1">
    <section class="section section_editable">
        <div class="header">
            <div class="wrapper">
                <a href="/" class="header__logo"><img class="header__image" src="/static/landings/images/svg/logo-white.svg" alt=""></a>
            </div>
        </div>
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button edit-panel__button_add button button_edit" ng-click="openModal('modal-background'); setBlockForChange(block); setSlugPic(block.order, block.template)"><span class="icon-plus-bold"></span>{{'Выбрать фон' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up">{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('intro_1', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="section__background">
            <img class="section__image" ng-src="{{block.img.src}}" alt="">
        </div>
        <div class="wrapper">
            <div class="intro">
                <div class="intro__content intro__content_center">
                    <h1 class="intro__title" contenteditable="true" ng-model="block.title" spellcheck="false"></h1>
                    <div class="intro__text" contenteditable="true" ng-model="block.text" spellcheck="false">
                    </div>
                    <div class="intro__button">
                        <a class="button button_base" contenteditable="true" ng-model="block.button"></a>
                    </div>
                </div>
            </div>
        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="intro_2">
    <section class="section section_editable">
        <div class="header">
            <div class="wrapper">
                <a href="/" class="header__logo"><img class="header__image" src="/static/landings/images/svg/logo-white.svg" alt=""></a>
            </div>
        </div>
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button edit-panel__button_add button button_edit" ng-click="openModal('modal-background'); setBlockForChange(block); setSlugPic(block.order, block.template)"><span class="icon-plus-bold"></span>{{'Выбрать фон' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('intro_2', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="section__background">
            <img class="section__image" ng-src="{{block.img.src}}" alt="">
        </div>
        <div class="wrapper">
            <div class="intro">
                <div class="grid">
                    <div class="intro__content">
                        <div class="grid__row grid__row_center">
                            <div class="grid__col_8 grid__col_12_md">
                                <div class="intro__left">
                                    <h1 class="intro__title" contenteditable="true" ng-model="block.title" spellcheck="false"></h1>
                                    <div class="intro__text" contenteditable="true" ng-model="block.text" spellcheck="false"></div>
                                </div>
                            </div>
                            <div class="grid__col_4 grid__col_12_md">
                                <div class="form form_base">
                                    <form>
                                        <h2 class="form__title" contenteditable="true" ng-model="block.form_title" spellcheck="false"></h2>
                                        <div class="form__body">
                                            <div class="form__group">
                                                <input type="text" name="reg-name" placeholder="{{'Имя' | translate}}">
                                            </div>
                                            <div class="form__group">
                                                <input type="tel" name="reg-phone" placeholder="{{'Телефон' | translate}}">
                                            </div>
                                            <div class="form__group">
                                                <input type="email" name="reg-email" placeholder="{{'Email' | translate}}">
                                            </div>
                                            <div class="checkbox checkbox_base">
                                                <input type="checkbox" name="reg-age" id="reg-age">
                                                <label for="reg-age">{{'Мне больше 18 лет' | translate}}</label>
                                            </div>
                                            <div class="form__button">
                                                <a href="" class="button button_base" contenteditable="true" ng-model="block.button"></a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="advantages_1">
    <section class="section section_editable" ng-controller="AdvantagesController">
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button button button_edit edit-panel__button_add" ng-click="addElement(block)"><span class="icon-plus-bold"></span>{{'Добавить элемент' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('advantages_1', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="section__title">
                <h2 class="text-center" contenteditable="true" ng-model="block.title" spellcheck="false"></h2>
            </div>
            <div class="grid">
                <div class="advantages advantages_images grid__row">
                    <div class="advantages__item grid__col_12_sm grid__col_6_lg" ng-class="{ 'grid__col_12': block.elements.length == 1, 'grid__col_6': block.elements.length == 2, 'grid__col_4': block.elements.length == 3, 'grid__col_3': block.elements.length >= 4 }" ng-repeat="element in block.elements track by $index" ng-include="element.template"></div>
                </div>
            </div>
        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="advantages_2">
    <section class="section section_editable" ng-controller="AdvantagesController">
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button button button_edit edit-panel__button_add" ng-click="addElement(block)"><span class="icon-plus-bold"></span>{{'Добавить элемент' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('advantages_2', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="section__title">
                <h2 class="text-center" contenteditable="true" spellcheck="false" ng-model="block.title"></h2>
            </div>
            <div class="grid">
                <div class="advantages advantages_images grid__row">
                    <div class="advantages__item advantages__item_full grid__col_12" ng-repeat="element in block.elements track by $index" ng-include="element.template"></div>
                </div>
            </div><!-- grid -->
        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="advantages_3">
    <section class="section section_editable" ng-controller="AdvantagesController">
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button button button_edit edit-panel__button_add" ng-click="addElement(block)"><span class="icon-plus-bold"></span>{{'Добавить элемент' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('advantages_3', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="section__title">
                <h2 class="text-center" contenteditable="true" spellcheck="false" ng-model="block.title"></h2>
            </div>
            <div class="grid">
                <div class="grid__col_12 advantages advantages_digits grid__row">
                    <div class="advantages__item grid__col_12_sm grid__col_6_lg" ng-class="{ 'grid__col_12': block.elements.length == 1, 'grid__col_6': block.elements.length == 2, 'grid__col_4': block.elements.length >= 3 }" ng-repeat="element in block.elements track by $index" ng-include="element.template"></div>
                </div>
            </div><!-- grid -->
        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="advantages_4">
    <section class="section section_editable" ng-controller="AdvantagesController">
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button button button_edit edit-panel__button_add" ng-click="addElement(block)"><span class="icon-plus-bold"></span>{{'Добавить элемент' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('advantages_4', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="section__title">
                <h2 class="text-center" contenteditable="true" spellcheck="false" ng-model="block.title"></h2>
            </div>
            <div class="grid">
                <div class="advantages advantages_digits grid__row">
                    <div class="advantages__item advantages__item_full" ng-repeat="element in block.elements track by $index" ng-include="element.template"></div>
                </div>
            </div>
        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="product_1">
    <section class="section product section_editable" ng-controller="ProductController">
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('product_1', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="grid">
                <div class="grid__row grid__row_middle">
                    <div class="grid__col_7 grid__col_12_md product__description">
                        <div class="product__description-inner">
                            <h2 class="product__title" contenteditable="true" ng-model="block.title" spellcheck="false"></h2>
                            <div class="section__subtitle" contenteditable="true" ng-model="block.text" spellcheck="false"></div>
                            <div contenteditable="true" ng-model="block.text2" spellcheck="false"></div>
                        </div>
                    </div>
                    <div class="grid__col_5 grid__col_12_md product__image">
                        <div class="product__image-inner image-edit">
                            <div ng-click="setSlugPic(block.order, block.template)" class="dropzone dropzone_image" options="dzBgOptions" methods="dzBgMethods" callbacks="dzBgCallbacks" ng-dropzone></div>
                            <img ng-src="{{block.img.src}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="gallery_1">
    <section class="section section_editable" ng-controller="GalleryController">
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button button button_edit edit-panel__button_add" ng-click="openModal('modal-gallery'); setSlugUpload(block.order, block.template)"><span class="icon-plus-bold"></span>{{'Добавить изображение' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('gallery_1', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="wrapper">
            <h2 class="text-center" contenteditable="true" ng-model="block.title" spellcheck="false"></h2>
            <p class="text-center" contenteditable="true" ng-model="block.text" spellcheck="false"></p>
        </div>
        <div class="gallery carousel carousel_gallery-fader">
            <a class="svg-arrow-prev carousel-prev" ng-click="slickGalleryConfig.method.slickPrev()">
                <svg xmlns="http://www.w3.org/2000/svg" width="28.125" height="54" viewBox="0 0 28.125 54">
                    <path class="cls-1" d="M42.4,213.006L15.994,186.5,42.4,159.994" transform="translate(-15.5 -159.5)"/>
                </svg>
            </a>
            <a class="svg-arrow-next carousel-next" ng-click="slickGalleryConfig.method.slickNext()">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="54" viewBox="0 0 28 54">
                    <path class="cls-1" d="M1807.72,164.994l26.29,26.506-26.29,26.506" transform="translate(-1806.5 -164.5)"/>
                </svg>
            </a>
            <div class="progress-block" ng-if="!galleryLoaded"></div>
            <slick settings="slickGalleryConfig" class="wrapper gallery__inner carousel__inner popup-images" ng-if="galleryLoaded">
                <div class="gallery__item" ng-repeat="element in block.elements" ng-init="buildDropzone(element)">
                    <div class="element-delete" ng-if="block.elements.length > 1" ng-click="deleteElement(block, $index)"><span class="icon-bin"></span></div>
                    <a class="popup-image image-edit">
                        <div ng-click="setSlugImage(block.order, block.template, $index)" class="dropzone dropzone_gallery" options="settingsArray[$index].dzOptions" methods="settingsArray[$index].dzMethods" callbacks="settingsArray[$index].dzCallbacks" ng-dropzone></div>
                        <img ng-src="{{element.img.src}}" alt="">
                    </a>
                </div>
            </slick>
        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="gallery_2">
    <section class="section section_editable" ng-controller="GalleryController">
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button button button_edit edit-panel__button_add" ng-click="openModal('modal-gallery'); setSlugUpload(block.order, block.template)"><span class="icon-plus-bold"></span>{{'Добавить изображение' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('gallery_2', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="wrapper">
            <h2 class="text-center" contenteditable="true" ng-model="block.title" spellcheck="false"></h2>
            <p class="text-center" contenteditable="true" ng-model="block.text" spellcheck="false"></p>
            <div class="progress-block" ng-if="!galleryLoaded"></div>
            <div class="gallery popup-images" ng-if="galleryLoaded">
                <div class="grid__row">
                    <div class="grid__col_4 grid__col_6_md grid__col_12_sm gallery__item" ng-repeat="element in block.elements" ng-init="buildDropzone(element)">
                        <div class="element-delete" ng-if="block.elements.length > 1" ng-click="deleteElement(block, $index)"><span class="icon-bin"></span></div>
                        <a class="popup-image image-edit">
                            <div ng-click="setSlugImage(block.order, block.template, $index)" class="dropzone dropzone_gallery" options="settingsArray[$index].dzOptions" methods="settingsArray[$index].dzMethods" callbacks="element.dzCallbacks" ng-dropzone></div>
                            <img ng-src="{{element.img.src}}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="video_1">
    <section class="section section_editable" ng-controller="YoutubeController">
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button button button_edit edit-panel__button_add" ng-click="openModal('modal-video'); setVideoOrder(block.order)"><span class="icon-plus-bold"></span>{{'Выбрать видео' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('video_1', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="wrapper youtube_video">
            <h2 class="text-center" contenteditable="true" ng-model="block.title" spellcheck="false"></h2>
            <youtube-video video-url="block.src"></youtube-video>
        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="action_1">
    <section class="section section_editable" ng-controller="ActionsController">
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('actions_1', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="section__title">
                <h2 class="text-center" contenteditable="true" ng-model="block.title" spellcheck="false"></h2>
            </div>
        </div>
        <div class="actions actions_carousel carousel">
            <a class="svg-arrow-prev carousel-prev" ng-click="slickActionsConfig.method.slickPrev()">
                <svg xmlns="http://www.w3.org/2000/svg" width="28.125" height="54" viewBox="0 0 28.125 54">
                    <path class="cls-1" d="M42.4,213.006L15.994,186.5,42.4,159.994" transform="translate(-15.5 -159.5)"/>
                </svg>
            </a>
            <a class="svg-arrow-next carousel-next" ng-click="slickActionsConfig.method.slickNext()">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="54" viewBox="0 0 28 54">
                    <path class="cls-1" d="M1807.72,164.994l26.29,26.506-26.29,26.506" transform="translate(-1806.5 -164.5)"/>
                </svg>
            </a>
            <slick class="actions__items" ng-if="actionsLoaded" settings="slickActionsConfig">
                <div class="actions__item" ng-repeat="action in get_actions(actions, block.black_list)">
                    <div class="element-delete" ng-if="actions.length>block.black_list.length+1"><span class="icon-bin" ng-click="addToBlackList(action.id, block.black_list)"></span></div>
                    <img class="actions__image" ng-src="{{action.background}}" alt="">
                    <div class="wrapper">
                        <div class="actions__content grid">
                            <div class="grid__row">
                                <div class="grid__col_6 grid__col_8_lg grid__col_12_md actions__inner">
                                    <h3 class="actions__title">{{action.bonus_name}}</h3>
                                    <div class="actions__subtitle">{{action.slogan}}</div>
                                    <div class="actions__text">
                                        <ul class="list-ok">
                                            <li ng-repeat="item in get_paragraphs(action.short_description)">{{item}}</li>
                                        </ul>
                                    </div>
                                    <a class="button button_base">{{'Получить бонус' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </slick>
            <div class="actions__nav" ng-if="actionsLoaded">
                <div class="wrapper actions__nav-items">
                    <a ng-repeat="action in get_actions(actions, block.black_list)" ng-class="{'actions__nav-item_active': currentSlide == $index}" class="actions__nav-item" ng-click="slickActionsConfig.method.slickGoTo($index)">
                        <div class="actions__nav-icon"><img ng-src="{{action.pic}}" alt=""></div>
                        <div class="actions__nav-text">{{action.bonus_name}}</div>
                    </a>
                </div>
            </div>
        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="action_2">
    <section class="section section_editable" ng-controller="ActionsController">
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('action_2', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="section__title">
                <h2 class="text-center" contenteditable="true" ng-model="block.title" spellcheck="false"></h2>
            </div>
            <div class="grid actions actions_row">
                <div class="grid__row actions__items">
                    <div ng-repeat="action in get_actions(actions, block.black_list)" class="actions__item grid__col_6 grid__col_12_md">
                        <div class="element-delete" ng-if="actions.length>block.black_list.length+1"><span class="icon-bin" ng-click="addToBlackList(action.id, block.black_list)"></span></div>
                        <div class="actions__image">
                            <img class="actions__img" ng-src="{{action.background_small}}" alt="">
                            <div class="actions__icon"><img ng-src="{{action.pic}}" alt=""></div>
                        </div>
                        <div class="actions__content">
                            <h3 class="actions__title">{{action.bonus_name}}</h3>
                            <div class="actions__text">{{action.slogan}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="reviews_1">
    <section class="section section_editable" ng-controller="ReviewsController">
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button button button_edit edit-panel__button_add" ng-click="addElement(block, 'slick', slickReviewsConfig)"><span class="icon-plus-bold"></span>{{'Добавить отзыв' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('reviews_1', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="section__title">
                <h2 class="text-center" contenteditable="true" ng-model="block.title" spellcheck="false"></h2>
            </div>
        </div>
        <div class="reviews reviews_carousel carousel carousel_fader">
            <a class="svg-arrow-prev carousel-prev" ng-click="slickReviewsConfig.method.slickPrev()">
                <svg xmlns="http://www.w3.org/2000/svg" width="28.125" height="54" viewBox="0 0 28.125 54">
                    <path class="cls-1" d="M42.4,213.006L15.994,186.5,42.4,159.994" transform="translate(-15.5 -159.5)"/>
                </svg>
            </a>
            <a class="svg-arrow-next carousel-next" ng-click="slickReviewsConfig.method.slickNext()">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="54" viewBox="0 0 28 54">
                    <path class="cls-1" d="M1807.72,164.994l26.29,26.506-26.29,26.506" transform="translate(-1806.5 -164.5)"/>
                </svg>
            </a>
            <slick class="wrapper reviews_slick_{{block.order}} reviews__inner carousel__inner" settings="slickReviewsConfig" ng-if="dataLoaded">
                <div class="reviews__item" ng-class="{'last_slick': $last}" ng-repeat="element in block.elements track by $index" ng-include="element.template"></div>
            </slick>

        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="reviews_2">
    <section class="section section_editable" ng-controller="ReviewsController">
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button button button_edit edit-panel__button_add" ng-click="addElement(block)"><span class="icon-plus-bold"></span>{{'Добавить отзыв' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('reviews_2', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="section__title">
                <h2 class="text-center" contenteditable="true" ng-model="block.title" spellcheck="false"></h2>
            </div>
            <div class="reviews reviews_row">
                <div class="grid">
                    <div class="grid__row">
                        <div ng-class="{ 'grid__col_12': block.elements.length == 1, 'grid__col_6 grid__col_12_sm': block.elements.length == 2, 'grid__col_4 grid__col_6_lg grid__col_12_sm': block.elements.length >= 3}" ng-repeat="element in block.elements track by $index" ng-include="element.template"></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="about_1">
    <section class="section section_editable" ng-controller="AboutController">
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('about_1', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="section__title">
                <h2 class="text-center" contenteditable="true" ng-model="block.title" spellcheck="false"></h2>
            </div>
            <div class="about grid">
                <div class="grid__row">
                    <div class="grid__col_8 grid__col_12_md">
                        <p>В распоряжении клиентов Grand Capital максимум возможностей для прибыльной торговли на финансовых рынках: доступ к Форекс, инструменты CFD, платформа под бинарные опционы, инвестиционные портфели из более чем 330 активов фондового и товарно-сырьевого рынков. Grand Capital проводит активную региональную политику: компания открыта для партнёрства и сотрудничества.</p>
                        <p>Наша команда постоянно внедряет новые сервисы и услуги, следуя за биржевыми трендами. Клиентский счёт Grand Capital – это двухфакторная верификация, торговля в нескольких терминалах, многообразие инструментов для торговли, различные способы ввода и вывода денежных средств.</p>
                        <p>Заслуги компании признаны в профессиональной среде. Grand Capital – член Международной Финансовой комиссии (Finacom), независимого регулятора в области Форекс. Компания неоднократно удостаивалась звания «Лучший брокер» и получала профильные награды.</p>
                    </div>
                    <div class="grid__col_4 grid__col_12_md">
                        <div class="quote">
                            <div class="quote__text">
                                Миссия компании - стремление к созданию максимально комфортных условий для торговли на рынке Форекс и стабильному росту финансового благополучия наших клиентов.
                            </div>
                            <div class="quote__person">
                                <div class="quote__image"><img src="/static/landings/images/stas.jpg" alt=""></div>
                                <div class="quote__author">
                                    <div class="quote__name">Станислав Ванеев</div>
                                    <div class="quote__status">Президент компании</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="about_2">
    <section class="section section_editable" ng-controller="AboutController">
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('about_1', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="section__title">
                <h2 class="text-center" contenteditable="true" ng-model="block.title" spellcheck="false"></h2>
            </div>
            <div class="about grid">
                <div class="grid__row">
                    <div class="grid__col_8 grid__col_12_md">
                        <p>В распоряжении клиентов Grand Capital максимум возможностей для прибыльной торговли на финансовых рынках: доступ к Форекс, инструменты CFD, платформа под бинарные опционы, инвестиционные портфели из более чем 330 активов фондового и товарно-сырьевого рынков. Grand Capital проводит активную региональную политику: компания открыта для партнёрства и сотрудничества.</p>
                        <p>Наша команда постоянно внедряет новые сервисы и услуги, следуя за биржевыми трендами. Клиентский счёт Grand Capital – это двухфакторная верификация, торговля в нескольких терминалах, многообразие инструментов для торговли, различные способы ввода и вывода денежных средств.</p>
                        <p>Заслуги компании признаны в профессиональной среде. Grand Capital – член Международной Финансовой комиссии (Finacom), независимого регулятора в области Форекс. Компания неоднократно удостаивалась звания «Лучший брокер» и получала профильные награды.</p>
                    </div>
                    <div class="grid__col_4 grid__col_12_md">
                        <div class="quote">
                            <div class="quote__text">
                                Миссия компании - стремление к созданию максимально комфортных условий для торговли на рынке Форекс и стабильному росту финансового благополучия наших клиентов.
                            </div>
                            <div class="quote__person">
                                <div class="quote__image"><img src="/static/landings/images/stas.jpg" alt=""></div>
                                <div class="quote__author">
                                    <div class="quote__name">Станислав Ванеев</div>
                                    <div class="quote__status">Президент компании</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline">
            <div class="timeline__main">
                <div class="timeline__area timeline__area_transition">
                    <div ng-repeat="element in timeline_elements" class="timeline__block timeline__block_{{element.slug}}" ng-class="{'timeline__block_active': currentSlide == $index}" ng-click="slickAboutConfig.method.slickGoTo($index)">
                        <img class="timeline__image" src="/static/landings/images/timeline/six-year.png" alt="">
                        <div style="max-width: {{element.width}}px;" class="timeline__description">{{element.title}}</div>
                    </div>

                    <div class="timeline__scale">
                        <div class="timeline__scale-item timeline__scale-item_year">2006</div>
                        <div class="timeline__scale-item timeline__scale-item_year">2007</div>
                        <div class="timeline__scale-item timeline__scale-item_year">2008</div>
                        <div class="timeline__scale-item timeline__scale-item_year">2009</div>
                        <div class="timeline__scale-item timeline__scale-item_year">2010</div>
                        <div class="timeline__scale-item timeline__scale-item_month">January</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="about-slider carousel carousel_fader">
                <a class="svg-arrow-prev carousel-prev" ng-click="slickAboutConfig.method.slickPrev()">
                    <svg class="svg-about-arrow-prev" xmlns="http://www.w3.org/2000/svg" width="34.226" height="94.979" viewBox="0 0 34.226 94.979">
                      <path class="cls-1" d="M1009.83,653.936L984.6,697.291l25.248,43.268" transform="translate(-977.698 -649.761)"/>
                    </svg>
                </a>
                <a class="svg-arrow-next carousel-next" ng-click="slickAboutConfig.method.slickNext()">
                   <svg class="svg-about-arrow-next" xmlns="http://www.w3.org/2000/svg" width="34.167" height="95.167" viewBox="0 0 34.167 95.167">
                      <path class="cls-1" d="M980.009,740.9l25.181-43.444-25.2-43.357" transform="translate(-977.917 -649.917)"/>
                    </svg>
                </a>
                <slick class="about-slider__items carousel__inner" settings="slickAboutConfig" ng-if="timelineLoaded">
                    <div ng-repeat="element in timeline_elements" class="about-slider__item">
                        <div class="about-slider__image">
                            <img src="/static/landings/images/timeline/six-year.png" alt="">
                        </div>
                        <div class="about-slider__content">
                            <div class="about-slider__date">{{element.month}} {{element.year}}</div>
                            <div class="about-slider__title">{{element.title}}</div>
                            <div class="about-slider__text">{{element.text}}</div>
                        </div>
                    </div>
                </slick>
            </div>
        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="awards_1">
    <section class="section section_gray section_editable" ng-controller="AwardsController">
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('awards_1', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="section__title">
                <h2 class="text-center" contenteditable="true" ng-model="block.title" spellcheck="false"></h2>
            </div>
        </div>
        <div class="awards carousel carousel_fader">
            <a class="svg-arrow-prev carousel-prev" ng-click="slickAwardsConfig.method.slickPrev()">
                <svg xmlns="http://www.w3.org/2000/svg" width="28.125" height="54" viewBox="0 0 28.125 54">
                    <path class="cls-1" d="M42.4,213.006L15.994,186.5,42.4,159.994" transform="translate(-15.5 -159.5)"/>
                </svg>

            </a>
            <a class="svg-arrow-next carousel-next" ng-click="slickAwardsConfig.method.slickNext()">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="54" viewBox="0 0 28 54">
                    <path class="cls-1" d="M1807.72,164.994l26.29,26.506-26.29,26.506" transform="translate(-1806.5 -164.5)"/>
                </svg>
            </a>
            <slick class="awards__inner carousel__inner wrapper" settings="slickAwardsConfig">

                <div class="awards__item">
                    <div class="grid__row grid__row_right grid__row_middle">
                        <div class="grid__col_5 grid__col_12_md awards__list">
                            <ul>
                                <li>
                                    <div class="awards__title">{{'Лучший форекс-брокер в Африке 2017' | translate}}</div>
                                    <div class="awards__subtitle">{{'award_africa_17' | translate}}</div>
                                </li>
                                <li>
                                    <div class="awards__title">{{'Лучшие технологии для трейдинга 2016' | translate}}</div>
                                    <div class="awards__subtitle">{{'award_tech_16' | translate}}</div>
                                </li>
                                <li>
                                    <div class="awards__title">{{'Лучшая партнерская программа 2016' | translate}}</div>
                                    <div class="awards__subtitle">{{'award_affiliate_16' | translate}}</div>
                                </li>
                            </ul>
                        </div>
                        <div class="grid__col_6 grid__col_12_md awards__image">
                            <img src="/static/landings/images/awards/award-01.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="awards__item">
                    <div class="grid__row grid__row_right grid__row_middle">
                        <div class="grid__col_5 grid__col_12_md awards__list">
                            <ul>
                                <li>
                                    <div class="awards__title">{{'Диплом' | translate}}</div>
                                    <div class="awards__subtitle">{{'Forex Expo Awards Best ECN Broker' | translate}}</div>
                                </li>
                                <li>
                                    <div class="awards__title">{{'Лучший брокер в Европе 2015' | translate}}</div>
                                    <div class="awards__subtitle">{{'award_europe_15' | translate}}</div>
                                </li>
                                <li>
                                    <div class="awards__title">{{'Стабильность на рынке Forex' | translate}}</div>
                                    <div class="awards__subtitle">{{'award_stability' | translate}}</div>
                                </li>
                            </ul>
                        </div>
                        <div class="grid__col_6 grid__col_12_md awards__image">
                            <img src="/static/landings/images/awards/award-02.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="awards__item">
                    <div class="grid__row grid__row_right grid__row_middle">
                        <div class="grid__col_5 grid__col_12_md awards__list">
                            <ul>
                                <li>
                                    <div class="awards__title">{{'Кубок' | translate}}</div>
                                    <div class="awards__subtitle">{{'Лучший брокер бинарных опционов' | translate}}</div>
                                </li>
                                <li>
                                    <div class="awards__title">{{'Кубок' | translate}}</div>
                                    <div class="awards__subtitle">Forex Expo Awards Best Standard-Forex Broker</div>
                                </li>
                                <li>
                                    <div class="awards__title">{{'Лучший Форекс Брокер в Китае' | translate}}</div>
                                    <div class="awards__subtitle">{{'award_china_14' | translate}}</div>
                                </li>
                            </ul>
                        </div>
                        <div class="grid__col_6 grid__col_12_md awards__image">
                            <img src="/static/landings/images/awards/award-03.png" alt="">
                        </div>
                    </div>
                </div>
            </slick>
        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="learning_1">
    <section class="section section_editable" ng-controller="LearningController">
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button button button_edit edit-panel__button_add" ng-click="addPoint(block)"><span class="icon-plus-bold"></span>{{'Добавить пункт обучения' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('learning_1', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="section__title">
                <h2 class="text-center" contenteditable="true" ng-model="block.title" spellcheck="false"></h2>
            </div>
            <div class="learning">
                <div class="grid">
                    <div class="grid__row">
                        <div class="grid__col_8 grid__col_12_md">
                            <div class="learning__program program">
                                <div class="program__items">
                                    <div class="program__item" ng-repeat="element in block.point track by $index" ng-include="element.template"></div>
                                </div>
                                <div class="program__button">
                                    <a class="button button_base" ng-model="block.button" contenteditable="true"></a>
                                </div>
                            </div>
                        </div>
                        <div class="grid__col_4 grid__col_12_md">
                            <div ng-repeat="element in block.quote track by $index" ng-include="element.template"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="learning_3">
    <section class="section section_editable" ng-controller="LearningController">
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button button button_edit edit-panel__button_add" ng-click="addPoint(block)"><span class="icon-plus-bold"></span>{{'Добавить пункт обучения' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('learning_3', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="section__title">
                <h2 class="text-center" contenteditable="true" ng-model="block.title" spellcheck="false"></h2>
            </div>
            <div class="learning">
                <div class="grid">
                    <div class="grid__row grid__row_center">
                        <div class="grid__col_10 grid__col_12_md">
                            <div class="learning__program program program_authors">
                                <div class="program__items">
                                    <div class="program__item" ng-repeat="element in block.point track by $index" ng-include="element.template"></div>
                                </div>
                                <div class="program__button">
                                    <a class="button button_base" ng-model="block.button" contenteditable="true"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="learning_2">
    <section class="section section_editable" ng-controller="LearningController">
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button button button_edit edit-panel__button_add" ng-click="addQuote(block)"><span class="icon-plus-bold"></span>{{'Добавить цитату' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('learning_2', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="section__title">
                <h2 class="text-center" contenteditable="true" ng-model="block.title" spellcheck="false"></h2>
            </div>
            <div class="learning">
                <div class="grid">
                    <div class="grid__row quotes">
                        <div class="quotes__item" ng-class="{'grid__col_12': block.quote.length === 1, 'grid__col_6 grid__col_12_md': block.quote.length === 2, 'grid__col_4 grid__col_12_md': block.quote.length > 2}" ng-repeat="element in block.quote track by $index" ng-include="element.template"></div>
                    </div>
                </div>
                <div class="text-center">
                    <a class="button button_base" contenteditable="true" ng-model="block.button"></a>
                </div>
            </div>
        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="registration_1">
    <section class="section section_editable">
        <div class="section__background">
            <img class="section__image" ng-src="{{block.img.src}}" alt="">
        </div>
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button edit-panel__button_add button button_edit" ng-click="openModal('modal-background'); setBlockForChange(block); setSlugPic(block.order, block.template)"><span class="icon-plus-bold"></span>{{'Выбрать фон' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('registration_1', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="registration">
                <div class="form form_base form_large">
                    <form>
                        <h2 class="form__title" contenteditable="true" ng-model="block.title" spellcheck="false"></h2>
                        <p class="form__subtitle" contenteditable="true" ng-model="block.text" spellcheck="false"></p>
                        <div class="form__body">
                            <div class="form__group">
                                <input type="text" name="reg-name" placeholder="{{'Имя' | translate}}">
                            </div>
                            <div class="form__group">
                                <input type="tel" name="reg-phone" placeholder="{{'Телефон' | translate}}">
                            </div>
                            <div class="form__group">
                                <input type="email" name="reg-email" placeholder="{{'Email' | translate}}">
                            </div>
                            <div class="checkbox checkbox_base">
                                <input type="checkbox" name="reg-age-2" id="reg-age-2">
                                <label for="reg-age-2">{{'Мне больше 18 лет' | translate}}</label>
                            </div>
                            <div class="form__button">
                                <a href="" class="button button_base" contenteditable="true" ng-model="block.button"></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="registration_2">
    <section class="section section_editable">
        <div class="section__background">
            <img class="section__image" ng-src="{{block.img.src}}" alt="">
        </div>
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button button button_edit edit-panel__button_add" ng-click="openModal('modal-background'); setBlockForChange(block); setSlugPic(block.order, block.template)"><span class="icon-plus-bold"></span>{{'Выбрать фон' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('registration_2', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="registration">
                <h2 class="text-center" contenteditable="true" ng-model="block.title" spellcheck="false"></h2>
                <div class="form form_inline">
                    <form>
                        <div class="form__body">
                            <div class="grid">
                                <div class="grid__row">
                                    <div class="grid__col_3 grid__col_6_md grid__col_12_sm">
                                        <div class="form__group">
                                            <span class="form__input-icon icon-user"></span>
                                            <input type="text" name="reg-name" placeholder="{{'Имя' | translate}}">
                                        </div>
                                    </div>
                                    <div class="grid__col_3 grid__col_6_md grid__col_12_sm">
                                        <div class="form__group">
                                            <span class="form__input-icon icon-phone"></span>
                                            <input type="tel" name="reg-phone" placeholder="{{'Телефон' | translate}}">
                                        </div>
                                    </div>
                                    <div class="grid__col_3 grid__col_6_md grid__col_12_sm">
                                        <div class="form__group">
                                            <span class="form__input-icon icon-mail"></span>
                                            <input type="email" name="reg-email" placeholder="{{'Email' | translate}}">
                                        </div>
                                    </div>
                                    <div class="grid__col_3 grid__col_6_md grid__col_12_sm">
                                        <div class="checkbox checkbox_base">
                                            <input type="checkbox" name="reg-age-3" id="reg-age-3">
                                            <label for="reg-age-3">{{'Мне больше 18 лет' | translate}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form__button">
                                <a href="" class="button button_base" contenteditable="true" ng-model="block.button"></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </section>
</script>
<script type="text/ng-template" id="advantages_img_elements">
    <div class="element-delete" ng-if="block.elements.length > 1" ng-click="deleteElement(block, $index)"><span class="icon-bin"></span></div>
    <div class="advantages__icon" ng-click="openModal('modal-icons'); setElementForChange(block, $index); setSlugPic(block.order, block.template, $index)">
        <img ng-src="{{element.img.src}}" alt="">
    </div>
    <div class="advantages__content">
        <h3 class="advantages__title" contenteditable="true" ng-model="element.title" spellcheck="false"></h3>
        <div class="advantages__text" contenteditable="true" ng-model="element.text" spellcheck="false"></div>
    </div>
</script>
<script type="text/ng-template" id="advantages_number_elements">
    <div class="element-delete" ng-if="block.elements.length > 1" ng-click="deleteElement(block, $index)"><span class="icon-bin"></span></div>
    <div class="advantages__icon">
        {{$index + 1}}
    </div>
    <div class="advantages__content">
        <h3 class="advantages__title" contenteditable="true" ng-model="element.title" spellcheck="false"></h3>
        <div class="advantages__text" contenteditable="true" ng-model="element.text" spellcheck="false"></div>
    </div>
</script>
<script type="text/ng-template" id="reviews1_elements">
    <div class="element-delete" ng-if="block.elements.length > 1" ng-click="deleteElement(block, $index)"><span class="icon-bin"></span></div>
    <div class="reviews__image image-edit" ng-click="openModal('modal-avatar'); setElementForChange(block, $index); setSlugPic(block.order, block.template, $index)">
        <img ng-src="{{element.img.src}}" alt="">
    </div>
    <div class="reviews__text" contenteditable="true" ng-model="element.text" spellcheck="false"></div>
    <div class="reviews__author" contenteditable="true" ng-model="element.title" spellcheck="false"></div>
</script>
<script type="text/ng-template" id="reviews2_elements">
    <div class="reviews__item quote">
        <div class="element-delete" ng-if="block.elements.length > 1" ng-click="deleteElement(block, $index)"><span class="icon-bin"></span></div>
        <div class="quote__text" contenteditable="true" ng-model="element.text" spellcheck="false"></div>
        <div class="quote__person">
            <div class="quote__image image-edit" ng-click="openModal('modal-avatar'); setElementForChange(block, $index); setSlugPic(block.order, block.template, $index)"><img ng-src="{{element.img.src}}" alt=""></div>
            <div class="quote__author">
                <div class="quote__name" contenteditable="true" ng-model="element.title" spellcheck="false"></div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="learning_quote_elements">
    <div class="quote__text" contenteditable="true" ng-model="element.text" spellcheck="false"></div>
    <div class="quote__person">
        <div class="quote__image image-edit" ng-click="openModal('modal-avatar'); setQuoteForChange(block, $index); setSlugPic(block.order, block.template, $index)"><img ng-src="{{element.img.src}}" alt=""></div>
        <div class="quote__author">
            <div class="quote__name" contenteditable="true" ng-model="element.title" spellcheck="false"></div>
            <div class="quote__status" contenteditable="true" ng-model="element.comment" spellcheck="false"></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="learning_point_elements">
    <div class="element-delete" ng-if="block.point.length > 1" ng-click="deletePoint(block, $index)"><span class="icon-bin"></span></div>
    <h3 class="program__title" contenteditable="true" ng-model="element.title" spellcheck="false"></h3>
    <div class="program__description">
        <p contenteditable="true" ng-model="element.text" spellcheck="false"></p>
    </div>
</script>
<script type="text/ng-template" id="learning3_point_elements">
    <div class="element-delete" ng-if="block.point.length > 1" ng-click="deletePoint(block, $index)"><span class="icon-bin"></span></div>
    <div class="program__author">
        <div class="program__name" contenteditable="true" ng-model="element.title" spellcheck="false"></div>
        <div class="program__image image-edit" ng-click="openModal('modal-avatar'); setPointForChange(block, $index); setSlugPic(block.order, block.template, $index)"><img ng-src="{{element.img.src}}"><img ng-src="{{element.img.src}}" alt=""></div>
    </div>
    <div class="program__content">
        <h3 class="program__title" contenteditable="true" ng-model="element.comment" spellcheck="false"></h3>
        <div class="program__description">
            <p contenteditable="true" ng-model="element.text" spellcheck="false"></p>
        </div>
    </div>
</script>
<script type="text/ng-template" id="learning2_quote_elements">
    <div class="element-delete" ng-if="block.quote.length > 1" ng-click="deleteQuote(block, $index)"><span class="icon-bin"></span></div>
    <div class="quotes__person">
        <div class="quotes__image image-edit" ng-click="openModal('modal-avatar'); setQuoteForChange(block, $index); setSlugPic(block.order, block.template, $index)"><img ng-src="{{element.img.src}}" alt=""></div>
        <div class="quotes__author">
            <div class="quotes__name" contenteditable="true" ng-model="element.title" spellcheck="false"></div>
            <div class="quotes__status" contenteditable="true" ng-model="element.comment" spellcheck="false">{{element.comment}}</div>
        </div>
    </div>
    <div class="quotes__text" contenteditable="true" spellcheck="false" ng-model="element.text"></div>
</script>
<script type="text/ng-template" id="custom_title">
        <div class="section section_editable section_custom">
            <div class="edit-panel" ng-controller="EditPanelController">
                <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
                <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                    <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                    <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                    <a class="edit-panel__button button button_edit" ng-click="deleteBlock('registration_2', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
                </div>
            </div>
        	<div class="wrapper">
        		<div class="section__title">
        			<h2 class="text-center" contenteditable="true" spellcheck="false" ng-model="block.title"></h2>
        		</div>
        	</div>
            <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
                <span class="icon-plus"></span>
            </div>
        </div>
</script>

<script type="text/ng-template" id="custom_text">
        <div class="section section_editable section_custom">
            <div class="edit-panel" ng-controller="EditPanelController">
                <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
                <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                    <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                    <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                    <a class="edit-panel__button button button_edit" ng-click="deleteBlock('registration_2', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
                </div>
            </div>
        	<div class="wrapper">
        		<div class="grid__row grid__row_center">
        			<div class="grid__col_8 grid__col_12_md" >
                        <div contenteditable="true" spellcheck="false" ng-model="block.text"></div>
        			</div>
        		</div>
        	</div>
            <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
                <span class="icon-plus"></span>
            </div>
        </div>
</script>

<script type="text/ng-template" id="custom_text_center">
        <div class="section section_editable section_custom">
            <div class="edit-panel" ng-controller="EditPanelController">
                <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
                <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                    <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                    <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                    <a class="edit-panel__button button button_edit" ng-click="deleteBlock('registration_2', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
                </div>
            </div>
            <div class="wrapper">
                <div class="grid__row grid__row_center">
                    <div class="grid__col_8 grid__col_12_md text-center" >
                        <div contenteditable="true" spellcheck="false" ng-model="block.text"></div>
                    </div>
                </div>
            </div>
            <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
                <span class="icon-plus"></span>
            </div>
        </div>
</script>

<script type="text/ng-template" id="custom_text_columns">
        <div class="section section_editable section_custom">
            <div class="edit-panel" ng-controller="EditPanelController">
                <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
                <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                    <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                    <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                    <a class="edit-panel__button button button_edit" ng-click="deleteBlock('registration_2', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
                </div>
            </div>
            <div class="wrapper">
                <div class="grid__row grid__row_center">
                    <div class="grid__col_6 grid__col_12_sm" >
                        <div contenteditable="true" spellcheck="false" ng-model="block.text_1"></div>
                    </div>
                    <div class="grid__col_6 grid__col_12_sm" >
                        <div contenteditable="true" spellcheck="false" ng-model="block.text_2"></div>
                    </div>
                </div>
            </div>
            <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
                <span class="icon-plus"></span>
            </div>
        </div>
</script>

<script type="text/ng-template" id="custom_button">
    <div class="section section_editable section_custom">
        <div class="edit-panel" ng-controller="EditPanelController">
            <a class="edit-panel__toggle button button_edit" ng-click="toggleEditPanel()"><span class="icon-pen"></span></a>
            <div class="edit-panel__buttons" ng-class="{'edit-panel__buttons_visible' : editPanelState == true}">
                <a class="edit-panel__button button button_edit" ng-click="moveBlockUp(block.order, $event)"><span class="icon-arrow-up"></span>{{'Поднять блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="moveBlockDown(block.order, $event)"><span class="icon-arrow-down"></span>{{'Опустить блок' | translate}}</a>
                <a class="edit-panel__button button button_edit" ng-click="deleteBlock('registration_2', block.order)"><span class="icon-bin"></span>{{'Удалить блок' | translate}}</a>
            </div>
        </div>
    	<div class="wrapper">
    		<div class="text-center">
    			<a contenteditable="true" spellcheck="false" class="button button_base" ng-model="block.button"></a>
    		</div>
    	</div>
        <div data-tooltip aria-haspopup="true" class="add-block" data-disable-hover="false" title="{{'Добавить блок' | translate}}" ng-click="togglePanel(block.order)">
            <span class="icon-plus"></span>
        </div>
    </div>
</script>
