<div class="leftmenu-block" id="leftmenu">
    <div class="control" ng-class="{'control_opened' : panelState == true }" ng-controller="ControlPanelController">
    	<div class="control__panel menu menu_type" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
    		<a class="menu__item menu__item_title control__close" ng-click="togglePanel(1)">
    			<span class="menu__icon icon-close"></span>
    			<span class="menu__text">{{'Добавить блок' | translate}}</span>
    		</a>
    		<a class="menu__item menu__item_block" ng-click="openViewPanel('control-header')">
    			<span class="icon-right-open menu__icon"></span>
    			<span class="menu__text">Шапка</span>
    		</a>
    		<a class="menu__item menu__item_block" ng-click="openViewPanel('control-advantages')">
    			<span class="icon-right-open menu__icon"></span>
    			<span class="menu__text">Преимущества</span>
    		</a>
    		<a class="menu__item menu__item_block" ng-click="openViewPanel('control-actions')">
    			<span class="icon-right-open menu__icon"></span>
    			<span class="menu__text">Акции и бонусы</span>
    		</a>
            <a class="menu__item menu__item_block" ng-click="openViewPanel('control-reviews')">
    			<span class="icon-right-open menu__icon"></span>
    			<span class="menu__text">Отзывы клиентов</span>
    		</a>
    		<a class="menu__item menu__item_block" ng-click="addblock_product('product_1', order)">
                <span class="icon-plus menu__icon"></span>
    			<span class="menu__text">Продукт/сервис</span>
    		</a>
    		<a class="menu__item menu__item_block" ng-click="openViewPanel('control-about')">
    			<span class="icon-right-open menu__icon"></span>
    			<span class="menu__text">О компании</span>
    		</a>
    		<a class="menu__item menu__item_block" ng-click="addblock_awards('awards_1', order)">
                <span class="icon-plus menu__icon"></span>
    			<span class="menu__text">Награды</span>
    		</a>
    		<a class="menu__item menu__item_block" ng-click="openViewPanel('control-learning')">
    			<span class="icon-right-open menu__icon"></span>
    			<span class="menu__text">Обучение</span>
    		</a>
    		<a class="menu__item menu__item_block" ng-click="openViewPanel('control-gallery')">
    			<span class="icon-right-open menu__icon"></span>
    			<span class="menu__text">Фотогалерея</span>
    		</a>
    		<a class="menu__item menu__item_block" ng-click="openViewPanel('control-registration')">
    			<span class="icon-right-open menu__icon"></span>
    			<span class="menu__text">Форма регистрации</span>
    		</a>
    		<a class="menu__item menu__item_block" ng-click="addblock_video('video_1', order)">
                <span class="icon-plus menu__icon"></span>
    			<span class="menu__text">Видео</span>
    		</a>
            <a class="menu__item" ng-click="addblock_customtitle('custom_title', order)">
                <span class="icon-plus menu__icon"></span>
    			<span class="menu__text">Заголовок</span>
    		</a>
            <a class="menu__item" ng-click="openViewPanel('control-text')">
                <span class="icon-right-open menu__icon"></span>
    			<span class="menu__text">Текстовый блок</span>
    		</a>
    		<a class="menu__item" ng-click="addblock_custombutton('custom_button', order)">
                <span class="icon-plus menu__icon"></span>
    			<span class="menu__text">Кнопка</span>
    		</a>
    	</div>
    	<div ng-class="{'control__panel_active': currentViewPanel == 'control-header' }" class="control__panel menu menu_view" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
    		<a class="menu__item menu__item_title control__hide" ng-click="closeViewPanel()">
    			<span class="menu__icon icon-left-open"></span>
    			<span class="menu__text">{{'Скрыть панель' | translate}}</span>
    		</a>
    		<a class="menu__block" ng-click="addblock_intro('intro_1', order);">
    			<div class="menu__title">Шапка с текстом и кнопкой</div>
    			<div class="menu__thumb"><img src="/static/landings/images/previews/head1.jpg" alt=""></div>
    		</a>
    		<a class="menu__block" ng-click="addblock_intro('intro_2', order)">
    			<div class="menu__title">Шапка с регистрацией</div>
    			<div class="menu__thumb"><img src="/static/landings/images/previews/head2.jpg" alt=""></div>
    		</a>
    	</div>
    	<div ng-class="{'control__panel_active': currentViewPanel == 'control-advantages' }" class="control__panel menu menu_view" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
    		<a class="menu__item menu__item_title control__hide" ng-click="closeViewPanel()">
    			<span class="menu__icon icon-left-open"></span>
    			<span class="menu__text">{{'Скрыть панель' | translate}}</span>
    		</a>
    		<a class="menu__block" ng-click="addblock_advantages('advantages_1', order)">
    			<div class="menu__title">Преимущества (с иконками)</div>
    			<div class="menu__thumb"><img src="/static/landings/images/previews/advantage1.jpg" alt=""></div>
    		</a>
    		<a class="menu__block" ng-click="addblock_advantages('advantages_2', order)">
    			<div class="menu__title">Преимущества (с иконками в колонку)</div>
    			<div class="menu__thumb"><img src="/static/landings/images/previews/advantage3.jpg" alt=""></div>
    		</a>
    		<a class="menu__block" ng-click="addblock_advantages('advantages_3', order)">
    			<div class="menu__title">Преимущества (с цифрами)</div>
    			<div class="menu__thumb"><img src="/static/landings/images/previews/advantage2.jpg" alt=""></div>
    		</a>
    		<a class="menu__block" ng-click="addblock_advantages('advantages_4', order)">
    			<div class="menu__title">Преимущества (с цифрами в колонку)</div>
    			<div class="menu__thumb"><img src="/static/landings/images/previews/advantage4.jpg" alt=""></div>
    		</a>
    	</div>
    	<div ng-class="{'control__panel_active': currentViewPanel == 'control-actions' }" class="control__panel menu menu_view" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
    		<a class="menu__item menu__item_title control__hide" ng-click="closeViewPanel()">
    			<span class="menu__icon icon-left-open"></span>
    			<span class="menu__text">{{'Скрыть панель' | translate}}</span>
    		</a>
    		<a class="menu__block" ng-click="addblock_action('action_2', order)">
    			<div class="menu__title">Акции (изображение + краткое описание)</div>
    			<div class="menu__thumb"><img src="/static/landings/images/previews/action1.jpg" alt=""></div>
    		</a>
    		<a class="menu__block" ng-click="addblock_action('action_1', order)">
    			<div class="menu__title">Акции (слайдер с подробным описанием)</div>
    			<div class="menu__thumb"><img src="/static/landings/images/previews/action2.jpg" alt=""></div>
    		</a>
    	</div>
        <div ng-class="{'control__panel_active': currentViewPanel == 'control-reviews' }" class="control__panel menu menu_view" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
    		<a class="menu__item menu__item_title control__hide" ng-click="closeViewPanel()">
    			<span class="menu__icon icon-left-open"></span>
    			<span class="menu__text">{{'Скрыть панель' | translate}}</span>
    		</a>
    		<a class="menu__block" ng-click="addblock_reviews('reviews_1', order)">
    			<div class="menu__title">Отзывы (слайдер с подробным описанием)</div>
    			<div class="menu__thumb"><img src="/static/landings/images/previews/comment1.jpg" alt=""></div>
    		</a>
    		<a class="menu__block" ng-click="addblock_reviews('reviews_2', order)">
    			<div class="menu__title">Отзывы (изображение + краткое описание)</div>
    			<div class="menu__thumb"><img src="/static/landings/images/previews/comment2.jpg" alt=""></div>
    		</a>
    	</div>
    	<div ng-class="{'control__panel_active': currentViewPanel == 'control-about' }" class="control__panel menu menu_view" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
    		<a class="menu__item menu__item_title control__hide" ng-click="closeViewPanel()">
    			<span class="menu__icon icon-left-open"></span>
    			<span class="menu__text">{{'Скрыть панель' | translate}}</span>
    		</a>
    		<a class="menu__block" ng-click="addblock_about('about_1', order)">
    			<div class="menu__title">О компании (описание + цитата)</div>
    			<div class="menu__thumb"><img src="/static/landings/images/previews/company1.jpg" alt=""></div>
    		</a>
    		<a class="menu__block" ng-click="addblock_about('about_2', order)">
    			<div class="menu__title">О компании (описание + цитата + таймлайн)</div>
    			<div class="menu__thumb"><img src="/static/landings/images/previews/company2.jpg" alt=""></div>
    		</a>
    	</div>
    	<div ng-class="{'control__panel_active': currentViewPanel == 'control-learning' }" class="control__panel menu menu_view" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
    		<a class="menu__item menu__item_title control__hide" ng-click="closeViewPanel()">
    			<span class="menu__icon icon-left-open"></span>
    			<span class="menu__text">{{'Скрыть панель' | translate}}</span>
    		</a>
    		<a class="menu__block" ng-click="addblock_learning('learning_1', order)">
    			<div class="menu__title">Обучение (программа обучения + цитата)</div>
    			<div class="menu__thumb"><img src="/static/landings/images/previews/education1.jpg" alt=""></div>
    		</a>
    		<a class="menu__block" ng-click="addblock_learning('learning_2', order)">
    			<div class="menu__title">Обучение (цитаты преподавателей)</div>
    			<div class="menu__thumb"><img src="/static/landings/images/previews/education2.jpg" alt=""></div>
    		</a>
    		<a class="menu__block" ng-click="addblock_learning('learning_3', order)">
    			<div class="menu__title">Обучение (программа обучения)</div>
    			<div class="menu__thumb"><img src="/static/landings/images/previews/education3.jpg" alt=""></div>
    		</a>
    	</div>
    	<div ng-class="{'control__panel_active': currentViewPanel == 'control-gallery' }" class="control__panel menu menu_view" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
    		<a class="menu__item menu__item_title control__hide" ng-click="closeViewPanel()">
    			<span class="menu__icon icon-left-open"></span>
    			<span class="menu__text">{{'Скрыть панель' | translate}}</span>
    		</a>
    		<a class="menu__block" ng-click="addblock_gallery('gallery_1', order)">
    			<div class="menu__title">Галерея (слайдер изображений)</div>
    			<div class="menu__thumb"><img src="/static/landings/images/previews/gallery.jpg" alt=""></div>
    		</a>
    		<a class="menu__block" ng-click="addblock_gallery('gallery_2', order)">
    			<div class="menu__title">Галерея (изображения в строку)</div>
    			<div class="menu__thumb"><img src="/static/landings/images/previews/gallery2.jpg" alt=""></div>
    		</a>
    	</div>
    	<div ng-class="{'control__panel_active': currentViewPanel == 'control-registration' }" class="control__panel menu menu_view" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
    		<a class="menu__item menu__item_title control__hide" ng-click="closeViewPanel()">
    			<span class="menu__icon icon-left-open"></span>
    			<span class="menu__text">{{'Скрыть панель' | translate}}</span>
    		</a>
    		<a class="menu__block" ng-click="addblock_registration('registration_1', order)">
    			<div class="menu__title">Регистрация (форма по центру)</div>
    			<div class="menu__thumb"><img src="/static/landings/images/previews/reg2.jpg" alt=""></div>
    		</a>
    		<a class="menu__block" ng-click="addblock_registration('registration_2', order)">
    			<div class="menu__title">Регистрация (форма в строку)</div>
    			<div class="menu__thumb"><img src="/static/landings/images/previews/reg1.jpg" alt=""></div>
    		</a>
    	</div>
        <div ng-class="{'control__panel_active': currentViewPanel == 'control-text' }" class="control__panel menu menu_view" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
            <a class="menu__item menu__item_title control__hide" ng-click="closeViewPanel()">
                <span class="menu__icon icon-left-open"></span>
                <span class="menu__text">{{'Скрыть панель' | translate}}</span>
            </a>
            <a class="menu__block" ng-click="addblock_customtext('custom_text', order)">
                <div class="menu__title">Текстовый блок</div>
                <div class="menu__thumb"><img src="/static/landings/images/previews/text1.jpg" alt=""></div>
            </a>
            <a class="menu__block" ng-click="addblock_customtext_center('custom_text_center', order)">
                <div class="menu__title">Текстовый блок по центру</div>
                <div class="menu__thumb"><img src="/static/landings/images/previews/text3.jpg" alt=""></div>
            </a>
            <a class="menu__block" ng-click="addblock_customtext_columns('custom_text_columns', order)">
                <div class="menu__title">Текстовый блок в две колонки</div>
                <div class="menu__thumb"><img src="/static/landings/images/previews/text2.jpg" alt=""></div>
            </a>
        </div>
    </div>
</div>
