<div class="modal" ng-class="{'modal_opened' : currentModal == 'modal-avatar'}" ng-controller="ReviewsController" ng-click="closeModal()">
    <div class="modal__container" ng-click="$event.stopPropagation()">
        <a class="modal__close" ng-click="closeModal()"><span class="icon-close"></span></a>
        <div class="modal__title">{{'Фотография пользователя' | translate}}</div>
        <div class="dropzone modal__dropzone dropzone_single" options="dzBgOptions" methods="dzBgMethods" callbacks="dzBgCallbacks" ng-dropzone></div>
        <div ng-show="file" data-file="{{file}}" class="modal__upload-btn"><button class="button_base button_red" ng-click="upload(); closeModal()">{{'Загрузить' | translate}}</button></div>
    </div>
</div>

<div class="modal" ng-class="{'modal_opened' : currentModal == 'modal-background'}" ng-controller="IntroController" ng-click="closeModal()">
    <div class="modal__container" ng-click="$event.stopPropagation()">
        <a class="modal__close" ng-click="closeModal()"><span class="icon-close"></span></a>
        <div class="modal__title">{{'Фоновое изображение' | translate}}</div>
        <div class="dropzone modal__dropzone dropzone_single" options="dzBgOptions" methods="dzBgMethods" callbacks="dzBgCallbacks" ng-dropzone></div>
        <div ng-show="file" class="modal__upload-btn"><button class="button button_base button_red" ng-click="upload(); closeModal()">{{'Загрузить' | translate}}</button></div>
        <div class="modal__subtitle">{{'Или выберите из библиотеки' | translate}}:</div>
        <div class="modal__carousel carousel modal__carousel_bg">
            <a ng-class="{'disable' : arrowPrev == false}" class="svg-arrow-prev carousel-prev" ng-click="slickIntroConfig.method.slickPrev()">
                <svg xmlns="http://www.w3.org/2000/svg" width="28.125" height="54" viewBox="0 0 28.125 54">
                    <path class="cls-1" d="M42.4,213.006L15.994,186.5,42.4,159.994" transform="translate(-15.5 -159.5)"/>
                </svg>
            </a>
            <a ng-class="{'disable' : arrowNext == false}" class="svg-arrow-next carousel-next" ng-click="slickIntroConfig.method.slickNext()">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="54" viewBox="0 0 28 54">
                    <path class="cls-1" d="M1807.72,164.994l26.29,26.506-26.29,26.506" transform="translate(-1806.5 -164.5)"/>
                </svg>
            </a>
            <slick class="modal__carousel-inner" settings="slickIntroConfig" ng-if="showCarousel">
                <a ng-click="changeSrc($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/intro/city.jpg" alt="">
                </a>
                <a ng-click="changeSrc($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/intro/clock.jpg" alt="">
                </a>
                <a ng-click="changeSrc($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/intro/mob.jpg" alt="">
                </a>
                <a ng-click="changeSrc($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/intro/takl.jpg" alt="">
                </a>
                <a ng-click="changeSrc($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/intro/traders.jpg" alt="">
                </a>
                <a ng-click="changeSrc($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/intro/trader.jpg" alt="">
                </a>
            </slick>
        </div>
    </div>
</div>

<div class="modal" ng-class="{'modal_opened' : currentModal == 'modal-icons'}" ng-controller="AdvantagesController" ng-click="closeModal()">
    <div class="modal__container" ng-click="$event.stopPropagation()">
        <a class="modal__close" ng-click="closeModal()"><span class="icon-close"></span></a>
        <div class="modal__title">{{'Загрузка изображения' | translate}}</div>
        <div class="dropzone modal__dropzone dropzone_single" options="dzBgOptions" methods="dzBgMethods" callbacks="dzBgCallbacks" ng-dropzone></div>
        <div ng-show="file" class="modal__upload-btn"><button class="button_base button_red" ng-click="upload(); closeModal()">{{'Загрузить' | translate}}</button></div>
        <div class="modal__subtitle">{{'Или выберите из библиотеки' | translate}}:</div>
        <div class="modal__carousel carousel modal__carousel_icons">
            <a ng-class="{'disable' : arrowPrev == false}" class="svg-arrow-prev carousel-prev" ng-click="slickAdvantagesConfig.method.slickPrev()">
                <svg xmlns="http://www.w3.org/2000/svg" width="28.125" height="54" viewBox="0 0 28.125 54">
                    <path class="cls-1" d="M42.4,213.006L15.994,186.5,42.4,159.994" transform="translate(-15.5 -159.5)"/>
                </svg>
            </a>
            <a ng-class="{'disable' : arrowNext == false}" class="svg-arrow-next carousel-next" ng-click="slickAdvantagesConfig.method.slickNext()">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="54" viewBox="0 0 28 54">
                    <path class="cls-1" d="M1807.72,164.994l26.29,26.506-26.29,26.506" transform="translate(-1806.5 -164.5)"/>
                </svg>
            </a>
            <slick class="modal__carousel-inner" settings="slickAdvantagesConfig" ng-if="showCarousel">
                <a ng-click="changeIcon($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/advantages/advantages1.png" alt="">
                </a>
                <a ng-click="changeIcon($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/advantages/advantages2.png" alt="">
                </a>
                <a ng-click="changeIcon($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/advantages/advantages3.png" alt="">
                </a>
                <a ng-click="changeIcon($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/advantages/advantages4.png" alt="">
                </a>
                <a ng-click="changeIcon($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/advantages/advantages5.png" alt="">
                </a>
                <a ng-click="changeIcon($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/advantages/advantages6.png" alt="">
                </a>
            </slick>
        </div>
    </div>
</div>

<div class="modal" ng-class="{'modal_opened' : currentModal == 'modal-gallery'}" ng-controller="GalleryController" ng-click="closeModal()">
    <div class="modal__container" ng-click="$event.stopPropagation()">
        <a class="modal__close" ng-click="closeModal()"><span class="icon-close"></span></a>
        <div class="modal__title">{{'Изображения в галерею' | translate}}</div>
        <div class="dropzone modal__dropzone" options="dzBgOptions" methods="dzBgMethods" callbacks="dzBgCallbacks" ng-dropzone></div>
        <div ng-show="files.length >= 1" class="modal__upload-btn"><button class="button_base button_red" ng-click="upload(); closeModal()">{{'Загрузить' | translate}}</button></div>
        <div class="modal__subtitle">{{'Или выберите из библиотеки' | translate}}:</div>
        <div class="modal__carousel carousel modal__carousel_bg">
            <a ng-class="{'disable' : arrowPrev == false}" class="svg-arrow-prev carousel-prev" ng-click="slickModalGalleryConfig.method.slickPrev()">
                <svg xmlns="http://www.w3.org/2000/svg" width="28.125" height="54" viewBox="0 0 28.125 54">
                    <path class="cls-1" d="M42.4,213.006L15.994,186.5,42.4,159.994" transform="translate(-15.5 -159.5)"/>
                </svg>
            </a>
            <a ng-class="{'disable' : arrowNext == false}" class="svg-arrow-next carousel-next" ng-click="slickModalGalleryConfig.method.slickNext()">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="54" viewBox="0 0 28 54">
                    <path class="cls-1" d="M1807.72,164.994l26.29,26.506-26.29,26.506" transform="translate(-1806.5 -164.5)"/>
                </svg>
            </a>
            <slick class="modal__carousel-inner" settings="slickModalGalleryConfig" ng-if="showCarousel">
                <a ng-click="addImg($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/gallery/gallery1.jpg" alt="">
                </a>
                <a ng-click="addImg($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/gallery/gallery2.jpg" alt="">
                </a>
                <a ng-click="addImg($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/gallery/gallery3.jpg" alt="">
                </a>
                <a ng-click="addImg($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/gallery/gallery4.jpg" alt="">
                </a>
                <a ng-click="addImg($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/gallery/gallery5.jpg" alt="">
                </a>
                <a ng-click="addImg($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/gallery/gallery6.jpg" alt="">
                </a>
                <a ng-click="addImg($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/gallery/gallery7.jpg" alt="">
                </a>
                <a ng-click="addImg($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/gallery/gallery8.jpg" alt="">
                </a>
                <a ng-click="addImg($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/gallery/gallery9.jpg" alt="">
                </a>
                <a ng-click="addImg($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/gallery/gallery10.jpg" alt="">
                </a>
                <a ng-click="addImg($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/gallery/gallery11.jpg" alt="">
                </a>
                <a ng-click="addImg($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/gallery/gallery12.jpg" alt="">
                </a>
                <a ng-click="addImg($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/gallery/gallery13.jpg" alt="">
                </a>
                <a ng-click="addImg($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/gallery/gallery14.jpg" alt="">
                </a>
                <a ng-click="addImg($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/gallery/gallery15.jpg" alt="">
                </a>
                <a ng-click="addImg($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/gallery/gallery16.jpg" alt="">
                </a>
                <a ng-click="addImg($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/gallery/gallery17.jpg" alt="">
                </a>
                <a ng-click="addImg($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/gallery/gallery18.jpg" alt="">
                </a>
                <a ng-click="addImg($event); closeModal()" class="modal__slide">
                    <img src="/static/landings/images/gallery/gallery19.jpg" alt="">
                </a>
            </slick>
        </div>
    </div>
</div>

<div class="modal" ng-class="{'modal_opened' : currentModal == 'modal-video'}" ng-controller="YoutubeController" ng-click="closeModal()">
    <div class="modal__container" ng-click="$event.stopPropagation()">
        <a class="modal__close" ng-click="closeModal()"><span class="icon-close"></span></a>
        <div class="modal__title">{{'Вставьте id или url ролика c YouTube' | translate}}</div>
        <input type="text" name="videoId" ng-model="videoCode">
        <div class="text-center">
            <input type="submit" class="button button_base" ng-click="saveModal(); closeModal()" value="{{'Сохранить' | translate}}">
        </div>
    </div>
</div>

<div class="modal" ng-class="{'modal_opened' : currentModal == 'modal-ok'}" ng-click="closeModal()">
    <div class="modal__container" ng-click="$event.stopPropagation()">
        <a class="modal__close" ng-click="closeModal()"><span class="icon-close"></span></a>
        <div class="modal__title">{{'Публикация успешно завершена' | translate}}!</div>
        <div class="text-center">
            <a class="button button_base button_red" ng-click="closeModal()">{{'Закрыть' | translate}}</a>
        </div>
    </div>
</div>
