@keyframes bounce

	from, 10%, 20%, 30%, to
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
		transform: translate3d(0,0,0)

	15%, 16%
		animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060)
		transform: translate3d(0, -6px, 0)

	26%
		animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060)
		transform: translate3d(0, -3px, 0)

	28%
		transform: translate3d(0,-1px,0)


@keyframes rotation
	from
		transform: rotate(0deg)
	to
		transform: rotate(359deg)