@font-face
    font-family: 'pf_dintext_proregular'
    src: url('../fonts/pfdintextpro/pfdintextpro-regular.eot')
    src: url('../fonts/pfdintextpro/pfdintextpro-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/pfdintextpro/pfdintextpro-regular.woff2') format('woff2'), url('../fonts/pfdintextpro/pfdintextpro-regular.woff') format('woff'), url('../fonts/pfdintextpro/pfdintextpro-regular.ttf') format('truetype'), url('../fonts/pfdintextpro/pfdintextpro-regular.svg#pf_dintext_proregular') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'pf_dintext_proitalic'
    src: url('../fonts/pfdintextpro/pfdintextpro-italic.eot')
    src: url('../fonts/pfdintextpro/pfdintextpro-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/pfdintextpro/pfdintextpro-italic.woff2') format('woff2'), url('../fonts/pfdintextpro/pfdintextpro-italic.woff') format('woff'), url('../fonts/pfdintextpro/pfdintextpro-italic.ttf') format('truetype'), url('../fonts/pfdintextpro/pfdintextpro-italic.svg#pf_dintext_proitalic') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'pf_dintext_prolight_italic'
    src: url('../fonts/pfdintextpro/pfdintextpro-lightitalic.eot')
    src: url('../fonts/pfdintextpro/pfdintextpro-lightitalic.eot?#iefix') format('embedded-opentype'), url('../fonts/pfdintextpro/pfdintextpro-lightitalic.woff2') format('woff2'), url('../fonts/pfdintextpro/pfdintextpro-lightitalic.woff') format('woff'), url('../fonts/pfdintextpro/pfdintextpro-lightitalic.ttf') format('truetype'), url('../fonts/pfdintextpro/pfdintextpro-lightitalic.svg#pf_dintext_proitalic') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'pf_dintext_promedium'
    src: url('../fonts/pfdintextpro/pfdintextpro-medium.eot')
    src: url('../fonts/pfdintextpro/pfdintextpro-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/pfdintextpro/pfdintextpro-medium.woff2') format('woff2'), url('../fonts/pfdintextpro/pfdintextpro-medium.woff') format('woff'), url('../fonts/pfdintextpro/pfdintextpro-medium.ttf') format('truetype'), url('../fonts/pfdintextpro/pfdintextpro-medium.svg#pf_dintext_promedium') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'pf_dintext_promedium_italic'
    src: url('../fonts/pfdintextpro/pfdintextpro-mediumitalic.eot')
    src: url('../fonts/pfdintextpro/pfdintextpro-mediumitalic.eot?#iefix') format('embedded-opentype'), url('../fonts/pfdintextpro/pfdintextpro-mediumitalic.woff2') format('woff2'), url('../fonts/pfdintextpro/pfdintextpro-mediumitalic.woff') format('woff'), url('../fonts/pfdintextpro/pfdintextpro-mediumitalic.ttf') format('truetype'), url('../fonts/pfdintextpro/pfdintextpro-mediumitalic.svg#pf_dintext_promedium_italic') format('svg')
    font-weight: normal
    font-style: normal