=clear
	&:after
		content: ''
		display: table
		clear: both

/* Вписывает изображение в контейнер и выравнивает по центру */
=fit
	width: 100%
	height: 100%
	object-fit: cover
	object-position: center

=abs-center
	position: absolute
	top: 50%
	left: 50%
	transform: translate3d(-50%, -50%, 0)

=transition
	transition: ease .3s


/* Убирает подстветку элемента при клике на моб. устройстве */
=no-tap
	-webkit-tap-highlight-color: transparent

=underline
	text-decoration: underline

	&:hover,
	&:focus
		text-decoration: none


/* Обрезает однострочный текст и вставляет ... в конце */
=ellipsis($width)
	white-space: nowrap
	max-width: $width
	overflow: hidden
	text-overflow: ellipsis


=font-bold
	font-family: $body-font-family-bold

=font-regular
	font-family: $body-font-family

=font-italic
	font-family: 'pf_dintext_proitalic', sans-serif

=font-light-italic
	font-family: 'pf_dintext_prolight_italic', sans-serif

=collapse-border($width, $color)
	box-shadow: $width 0 0 0 $color, 0 $width 0 0 $color, $width $width 0 0 $color, inset $width 0 0 0 $color, inset 0 $width 0 0 $color

=text-center
	text-align: center

=text-left
	text-align: left

=text-right
	text-align: right

=hover
	&:hover,
	&:focus
		@content



=fontello
	font-family: "fontello"
	font-style: normal
	font-weight: normal
	speak: none
	text-decoration: inherit
	text-align: center
	font-variant: normal
	text-transform: none
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale