.button
	text-decoration: none
	cursor: pointer
	outline: none
	max-width: 100%
	word-wrap: break-word

	+hover
		text-decoration: none

	+breakpoint(medium down)
		font-size: rem-calc(15)

	&[contenteditable]
		cursor: text

	&_base
		border-radius: 50px
		padding: 14px 33px
		+font-bold

		+hover
			text-decoration: none
			box-shadow: 0 2px 10px 0 rgba($black, .2)

	&_red
		color: $white
		background: map-get($button-palette, red)
		font-size: rem-calc(18)
		padding: 13px 33px

		+hover
			background: scale-color(map-get($button-palette, red), $lightness: 10%)
			color: $white

	&_outline
		padding: 13px 33px
		color: map-get($button-palette, red)
		border: 1px solid map-get($button-palette, red)
		background: transparent
		font-size: rem-calc(18)

		+hover
			background: map-get($button-palette, red)
			color: $white

	&_edit
		height: 37px
		line-height: 37px
		padding: 0 10px
		font-size: rem-calc(16)
		border-radius: 0
		background: $white
		position: relative

		[class^="icon-"]
			padding-right: 2px
			font-size: rem-calc(15)
			display: inline-block
			transition: .3s

		+hover
			text-decoration: none

	&_topbar
		height: 60px
		line-height: 60px
		padding: 0 30px
		background: transparent
		border-radius: 0
		font-size: rem-calc(18)
		border: none
		display: block

		+breakpoint(medium down)
			padding: 0 20px
			font-size: rem-calc(16)

		+breakpoint(small down)
			font-size: 0

		[class^="icon-"]
			padding-right: 5px
			display: inline-block
			transition: .3s

			+breakpoint(small down)
				font-size: rem-calc(16)
				padding-right: 0

		+hover
			text-decoration: none

	&_save
		height: 60px
		line-height: 60px
		padding: 0 30px
		background: #009787
		font-size: rem-calc(18)
		color: $white
		+font-bold
		border-radius: 0
		border: none

		+breakpoint(medium down)
			padding: 0 20px
			font-size: rem-calc(16)

		+hover
			background: scale-color(#009787, $lightness: 5%)
			color: $white

	&_progress
		position: relative
		transition: .3s

		&:before
			+fontello
			content: '\e810'
			animation: rotation 1s infinite ease-out
			display: inline-block
			position: absolute
			top: 50%
			right: 10px
			margin-top: -6px
			width: 16px
			height: 16px
			margin-top: -8px
			font-size: 16px
			opacity: 0
			transition: .3s
			line-height: 1

		&:after
			content: ''
			display: inline-block
			width: 0
			transition: .3s

	&_sending
		pointer-events: none
		opacity: .5

		&:before
			opacity: 1

		&:after
			width: 20px




