.checkbox
	
	input[type="checkbox"]
		display: none

	&_base

		input[type="checkbox"]

			& + label
				font-size: rem-calc(18)
				padding-left: 40px
				position: relative
				cursor: pointer
				margin-left: 0
				min-height: 20px
				min-width: 20px
				color: inherit

				&:before
					content: '\e800'
					+fontello
					display: block
					width: 20px
					height: 20px
					border-radius: 4px
					background: $white
					border: 1px solid $white
					position: absolute
					top: 0
					left: 0
					line-height: 18px
					color: transparent
					font-size: rem-calc(14)

			&:checked + label
				&:before
					border-color: get-color(secondary)
					color: get-color(primary)
					opacity: 1

