input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea,
select
	padding: 10px 20px
	height: 45px

.textarea
	resize: none

	&_medium
		height: 120px

select
	border-radius: $input-radius

.form__group
	position: relative

	.form__input-icon
		position: absolute
		width: 40px
		height: 45px
		left: 0
		top: 0
		color: rgba(get-color(primary), .8)
		text-align: center
		line-height: 45px
		font-size: rem-calc(18)
		pointer-events: none

		& + input
			padding-left: 40px