.mCS-scroll
	
	.mCSB_container_wrapper
		margin: 0

		.mCSB_container
			padding-right: 0


	.mCSB_scrollTools
		opacity: 1
		width: 6px

		a + .mCSB_draggerContainer
			margin: 0

		.mCSB_draggerRail
			background: rgba($black, .1)

		.mCSB_dragger

			.mCSB_dragger_bar
				background: rgba($black, .4)

			&.mCS_dragger_onDrag
				.mCSB_dragger_bar
					background: rgba($black, .4)

			&:hover
				.mCSB_dragger_bar
					background: rgba($black, .4)
