.svg

	&-arrow-next,
	&-arrow-prev

		.cls-1
			fill: transparent
			stroke: #000203
			stroke-width: 1px
			fill-rule: evenodd
			+transition

	&-popup-arrow-prev,
	&-popup-arrow-next

		.cls-1
			fill: transparent
			stroke: $white
			stroke-width: 1px
			fill-rule: evenodd
			transition: .3s
				


	&-about-arrow-prev,
	&-about-arrow-next

		.cls-1
			fill: none
			stroke: #c6c6c6
			stroke-width: 4px
			fill-rule: evenodd



