
.icon-ok:before { content: '\e800'; } /* '' */
.icon-plus-bold:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-camera:before { content: '\e805'; } /* '' */
.icon-close:before { content: '\e806'; } /* '' */
.icon-right-open:before { content: '\e807'; } /* '' */
.icon-left-open:before { content: '\e808'; } /* '' */
.icon-arrow-left:before { content: '\e80e'; } /* '' */
.icon-settings:before { content: '\e80f'; } /* '' */
.icon-spinner:before { content: '\e810'; } /* '' */
.icon-eye:before { content: '\e811'; } /* '' */
.icon-arrow-up:before { content: '\e824'; } /* '' */
.icon-arrow-down:before { content: '\e825'; } /* '' */
.icon-bin:before { content: '\e90f'; } /* '' */
.icon-pen:before { content: '\e92c'; } /* '' */
.icon-plus:before { content: '\e92d'; } /* '' */