.about-slider
	position: relative
	color: #292929
	margin: 50px 0 0 0

	+breakpoint(medium down)
		margin: 30px -15px 0

	.slick-arrow
		&:hover
			.cls-1
				stroke: get-color(secondary)

	.carousel__inner

		&:after,
		&:before
			+breakpoint(medium down)
				display: none
	
		&:after
			right: 0

		&:before
			left: 0

	.carousel-next,
	.carousel-prev
		+breakpoint(medium down)
			display: none !important

	.carousel-prev
		left: -20px

		+breakpoint(xlarge down)
			left: 20px

	.carousel-next
		right: -20px

		+breakpoint(xlarge down)
			right: 20px

	.slick-dots
		display: none !important

		+breakpoint(medium down)
			display: block !important

	&__date
		+font-bold
		font-size: rem-calc(18)
		margin-bottom: 5px

	&__title
		+font-bold
		font-size: rem-calc(24)
		margin-bottom: 10px

	&__content
		+breakpoint(medium down)
			width: 100%
			min-width: 100%
			text-align: center

	&__text
		font-size: rem-calc(18)
		padding-right: 120px

		+breakpoint(medium down)
			padding-right: 0

	&__image
		flex: 0 0 320px
		width: 320px
		margin-right: 35px

		+breakpoint(medium down)
			flex: 0 0 200px
			width: 200px
			max-width: 100%
			margin-right: 0
			text-align: center
			margin-bottom: 50px

		+breakpoint(small down)
			margin-bottom: 30px

	&__item
		outline: none
		display: flex !important
		align-items: center
		padding: 0 70px

		+breakpoint(medium down)
			flex-direction: column
			padding: 0
			margin: 0 15px 50px

		+breakpoint(small down)
			margin-bottom: 35px



