.actions
	width: 100%

	.carousel-prev,
	.carousel-next
		margin-top: calc(-40px - 46px)

		+breakpoint(small down)
			display: none !important


	&_carousel

		.actions__item
			position: relative

			&:hover
				.element-delete
					background: $white
					opacity: 1

			&:after
				content: ''
				display: block
				width: 100%
				height: 100%
				position: absolute
				top: 0
				left: 0
				background: rgba($white, 0)
				transition: .3s

				+breakpoint(xlarge down)
					background: rgba($white, .5)

		.actions__image
			position: absolute
			top: 0
			left: 0
			+fit

		.actions__content
			padding: 100px 0 110px
			position: relative
			z-index: 5

			+breakpoint(medium down)
				padding: 60px 0


			.grid__row
				@extend .align-right

		.actions__inner
			padding: 0 30px

			+breakpoint(xlarge down)
				padding: 0 70px 0 0 

			+breakpoint(medium down)
				padding: 0 70px

			+breakpoint(small down)
				padding: 0 15px

		.actions__title
			+font-regular
			font-size: rem-calc(32)

		.actions__subtitle
			+font-bold
			font-size: rem-calc(18)
			margin-bottom: 20px


	&_row
		margin-bottom: -70px

		.actions__item
			display: flex
			align-items: flex-start
			margin-bottom: 70px
			position: relative

			+breakpoint(small down)
				flex-direction: column

			.element-delete
				top: -10px

			&:hover
				.element-delete
					opacity: 1

		.actions__image
			margin-right: 40px
			position: relative

			+breakpoint(small down)
				margin: 0 auto 30px

		.actions__icon
			width: 60px
			height: 60px
			background: $white
			border-radius: 50%
			position: absolute
			top: -10px
			right: -10px
			box-shadow: 0 0 10px 0 rgba($black, .3)
			padding: 10px
			display: flex
			align-items: center

		.actions__img
			width: 170px
			min-width: 170px
			height: 170px
			border-radius: 50%
			overflow: hidden
			display: block
			object-fit: cover
			object-position: center

		.actions__text
			padding-right: 60px

		.actions__title
			font-size: rem-calc(22)
			padding-right: 30px

	&__nav
		background: map-get($gray, gray1)

	&__nav-items
		display: flex
		height: 92px

		+breakpoint(medium down)
			height: auto
			padding: 0
			flex-wrap: wrap

	&__nav-item
		padding: 15px 20px
		height: 92px
		flex: 1 1 50%
		display: flex
		align-items: center
		color: $black
		border-style: solid
		border-color: transparent
		border-width: 3px 0 3px 0

		+breakpoint(medium down)
			height: auto
			flex: 0 0 50%
			min-width: 50%

		+breakpoint(small down)
			flex: 0 0 100%
			min-width: 100%

		+hover
			color: $black
			text-decoration: none
			background: map-get($gray, gray2)

		&_active
			background: map-get($gray, gray2)
			border-bottom-color: get-color(secondary)

	&__nav-icon
		margin-right: 15px
		width: 40px
		min-width: 40px

	&__nav-text
		font-size: rem-calc(18)
