.add-block
	position: absolute
	outline: none
	z-index: 10
	bottom: -18px
	left: calc(50% - 18px)
	width: 36px
	height: 36px
	border-radius: 50%
	background: #252525
	cursor: pointer
	line-height: 36px
	text-align: center
	color: $white
	+transition
	+no-tap
	opacity: 0

	&:hover
		transform: rotate(-90deg)
		background: $black
