.address-block
	max-width: 500px
	margin: 40px auto
	display: flex

	+breakpoint(small down)
		flex-direction: column
		margin: 20px auto

	&__city
		padding: 5px 20px
		font-size: rem-calc(21)
		+font-bold
		border-right: 1px solid map-get($gray, gray4)

		+breakpoint(small down)
			border: none
			width: 100%
			text-align: center
			padding: 5px 0

	&__text
		padding: 5px 20px

		+breakpoint(small down)
			padding: 5px 0

		div + div
			margin-top: 10px
