.advantages
	margin: 0 auto -40px
	
	&__item
		margin-bottom: 40px
		position: relative

		&_full
			+breakpoint(medium)
				display: flex
				align-items: flex-start
				margin: 0 auto 40px
				max-width: 800px
				width: 100%

				.advantages__content
					text-align: left

				.advantages__title
					text-align: left

				.advantages__icon
					margin: 0 30px 0 0

		&:hover
			.element-delete
				opacity: 1


	&__title
		margin-bottom: 10px
		text-align: center

	&__icon
		margin: 0 auto 25px
		border-radius: 50%
		text-align: center

	&__content
		padding: 0 10px


	&_images

		.advantages__item
			text-align: center

		.advantages__icon
			width: 120px
			height: 120px
			min-width: 120px
			background: map-get($gray, gray2)
			overflow: hidden
			border: 1px solid transparent

			img
				+fit



	&_digits

		.advantages__item
			border-right: 1px solid map-get($gray, gray4)

			+breakpoint(small down)
				border-right: 0

			&:nth-child(2n)
				+breakpoint(large down)
					border-right: 0

			&:nth-child(3n)
				border-right: 0

				+breakpoint(large down)
					border-right: 1px solid map-get($gray, gray4)

				+breakpoint(small down)
					border-right: 0

			&:last-child
				border-right: 0

			&_full
				border-right: 0

			&.grid__col_12
				text-align: center


		.advantages__content
			padding: 0 30px

			+breakpoint(medium down)
				padding: 0 15px

			+breakpoint(small down)
				padding: 0

		.advantages__icon
			width: 45px
			height: 45px
			min-width: 45px
			background: get-color(primary)
			line-height: 45px
			font-size: rem-calc(26)
			color: $white
			box-shadow: 0 0 0 6px rgba(get-color(primary), .37)
