.awards

	&__inner
		+breakpoint(medium down)
			padding: 0

	&__item
		+breakpoint(medium down)
			margin: 0 20px


	&__image
		width: 100%
		text-align: center

		+breakpoint(medium down)
			order: 1
			max-width: 500px
			margin: 0 auto 30px

		+breakpoint(small down)
			margin-bottom: 20px
			height: 200px


		img
			max-width: 100%
			max-height: 100%
			margin: 0 auto

	&__list

		+breakpoint(medium down)
			order: 2

		ul
			margin: 0
			padding: 0
			list-style: none

			li
				display: block
				margin-bottom: 35px
				padding-left: 75px
				position: relative

				+breakpoint(medium down)
					max-width: 500px
					margin: 0 auto 35px

				+breakpoint(small down)
					margin: 0 auto 20px

				&:after
					content: ''
					display: block
					position: absolute
					top: 50%
					left: 0
					margin-top: -21px
					width: 45px
					height: 42px
					background: url(../../landings/images/award.png) no-repeat center
					background-size: 100% 100%


	&__title
		font-size: rem-calc(22)
		+font-bold
		margin-bottom: 5px

		+breakpoint(small down)
			font-size: rem-calc(18)

