.carousel
	position: relative

	.slick-slide
		outline: none

		a
			outline: none

	&-next,
	&-prev
		text-decoration: none
		display: flex
		align-items: center
		justify-content: center
		position: absolute
		width: 30px
		height: 80px
		top: 50%
		margin-top: -40px
		z-index: 10
		+transition

		+breakpoint(medium down)
			display: none !important

		+hover
			text-decoration: none

		&:hover
			.cls-1
				stroke: get-color(primary)

		&.disable
			opacity: .3
			pointer-events: none

	&-next
		right: 20px

	&-prev
		left: 20px

	.slick-dots
		margin: 0
		padding: 0
		display: block
		list-style: none
		text-align: center

		li
			display: inline-block

			button
				font-size: 0
				width: 9px
				height: 9px
				background: map-get($gray, gray7)
				border-radius: 50%
				cursor: pointer
				margin: 0 5px
				outline: none
				transition: background .3s

				&:hover
					background: map-get($gray, gray15)

			&.slick-active
				button
					width: 12px
					height: 12px
					background: get-color(primary)


	
	&_fader
		.carousel__inner
			position: relative

			&:after,
			&:before
				content: ''
				display: block
				width: 50px
				height: 100%
				position: absolute
				top: 0
				z-index: 5

				+breakpoint(medium down)
					display: none

			&:after
				right: 15px
				background: linear-gradient(to right, transparent 0%, $white 100%)

			&:before
				left: 15px
				background: linear-gradient(to left, transparent 0%, $white 100%)


	&_gallery-fader

		&:after,
		&:before
			content: ''
			display: block
			width: 10%
			min-width: 100px
			height: 100%
			position: absolute
			top: 0
			z-index: 6
			pointer-events: none

			+breakpoint(medium down)
				display: none

		&:after
			right: 0
			background: linear-gradient(to right, transparent 0%, $white 60%)

		&:before
			left: 0
			background: linear-gradient(to left, transparent 0%, $white 60%)