.control
	position: fixed
	top: 0
	left: 0
	z-index: 1500
	height: 100vh
	transition: .3s ease-in-out
	transform: translate3d(-100%, 0, 0)
	width: 240px

	+breakpoint(small down)
		width: 100%
		transform: translate3d(-200%,0,0)

	&_opened
		transform: translate3d(0,0,0)

	&__panel
		width: 240px
		height: 100vh
		box-shadow: 0 0 20px 0 rgba($black, .25)
		overflow: hidden
		position: absolute
		top: 0
		left: 0
		transition: .3s ease-in-out

		+breakpoint(small down)
			width: 100%

		&.menu_type
			z-index: 105

		&.menu_view
			width: 275px
			z-index: 100
			transform: translate3d(-100px,0,0)

			+breakpoint(small down)
				width: 100%
				z-index: 110
				transform: translate3d(-200%,0,0)

		&_active
			&.menu_view
				transform: translate3d(240px, 0, 0)

				+breakpoint(small down)
					transform: translate3d(0,0,0)




.menu
	background: $white

	&__item
		display: flex
		align-items: center
		height: 55px
		padding: 10px 40px 10px 20px
		font-size: rem-calc(18)
		border-top: 1px solid transparent
		border-bottom: 1px solid map-get($gray, gray6)
		text-decoration: none
		position: relative

		+hover
			text-decoration: none

		&:hover,
		&_active
			&:not(.menu__item_title)
				.menu__icon
					opacity: 1

				.menu__text
					color: get-color(primary)
		

		&_title
			+font-bold
			color: $white
			background: get-color(primary)
			border-bottom-color: transparent
			padding-right: 55px

			.menu__text
				color: $white

			.menu__icon
				width: 55px
				color: $white
				opacity: 1
				font-size: rem-calc(18)
				transition: .3s

			&:hover
				.icon-close
					transform: rotate(-90deg)

		&_block
			+font-bold

	&__icon
		width: 40px
		height: 55px
		display: flex
		align-items: center
		justify-content: center
		position: absolute
		top: 0
		right: 0
		color: map-get($gray, gray13)
		font-size: rem-calc(15)
		opacity: 0
		transition: .1s


	&__text
		color: $dark-gray
		transition: .1s

	&__block
		display: block
		padding: 20px 20px 30px
		border-bottom: 1px solid map-get($gray, gray6)
		color: $dark-gray
		text-decoration: none
		transition: .1s

		+hover
			color: get-color(primary)
			text-decoration: none

		&:hover
			background: map-get($gray, gray1)

	&__title
		font-size: rem-calc(18)
		color: $dark-gray
		margin-bottom: 15px