.dropzone
	padding: 30px
	border: 2px dashed map-get($gray, gray8)
	text-align: center
	min-height: 260px
	cursor: pointer
	+transition

	&.dz-started
		display: flex
		flex-wrap: wrap

		.dz-message
			display: none

	+breakpoint(medium down)
		border: none
		min-height: 0
		padding: 15px

	&:hover,
	&.dz-drag-hover
		border-color: get-color(primary)
		box-shadow: 0 0 15px 0 rgba($black, .2)

		+breakpoint(medium down)
			box-shadow: none

	&__message
		color: map-get($gray, gray10)
		font-size: rem-calc(24)
		margin-bottom: 40px

		+breakpoint(medium down)
			display: none

	&__file
		flex: 0 0 calc(33% - 20px)
		min-width: calc(33% - 20px)
		align-self: center
		padding: 10px 15px
		margin: 10px
		position: relative
		border: 1px solid map-get($gray, gray3)

		+breakpoint(small down)
			flex: 0 0 100%
			min-width: 100%

	&__remove
		color: map-get($gray, gray10)
		position: absolute
		top: 10px
		right: 10px
		+transition

		&:hover
			transform: rotate(-90deg)

	&_single

		.dropzone__file
			flex: 0 0 100%
			min-height: 100%


	&_image
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		border: none
		
		+hover
			box-shadow: none

	&_gallery
		position: absolute
		top: 50%
		left: 50%
		margin-top: -40px
		margin-left: -40px
		border: none
		min-height: auto
		padding: 0
		width: 80px
		height: 80px
		
		+hover
			box-shadow: none




