.edit-panel
	position: absolute
	top: 20px
	right: 10px
	z-index: 10
	+clear
	box-shadow: 0 0 15px 0 rgba($black, .2)
	border-radius: $btn-radius
	overflow: hidden
	background: #fff
	+transition
	opacity: 0

	&__toggle
		width: 37px
		padding: 0
		display: none

		+breakpoint(small down)
			display: block
		
	&__buttons
		+breakpoint(medium down)
			display: flex
			flex-direction: column
			align-items: flex-end

	+breakpoint(medium down)
		top: 10px
		background: transparent
		box-shadow: none
		overflow: visible
		display: flex
		flex-direction: column
		align-items: flex-end

	&__button,
	&__toggle
		float: left

		+breakpoint(medium down)
			box-shadow: 0 0 5px 0 rgba($black, .3)
			border-radius: $btn-radius
			margin: 0 0 5px
			float: none

	&__button_add
		+font-bold
		border-right: 1px solid map-get($gray, gray5)

		&:hover
			border-right-color: map-get($button-palette, yellow)

	&__buttons

		+breakpoint(small down)
			display: none

			&_visible
				display: flex

