.empty-block
	padding: 200px 0
	text-align: center

	+breakpoint(small down)
		padding: 100px 0

	&__container
		max-width: 700px
		margin: 0 auto
		color: map-get($gray, gray11)

	&__title
		font-size: rem-calc(32)
		+font-bold
		margin-bottom: 25px
		
		+breakpoint(small down)
			font-size: rem-calc(24)

	&__text
		font-size: rem-calc(20)
		margin-bottom: 40px
		line-height: 1.7

		+breakpoint(small down)
			font-size: rem-calc(16)

