.form
	display: block

	&_base
		background: rgba(get-color(primary), .8)
		padding: 35px 40px
		max-width: 375px
		margin: 0 auto
		text-align: left

		+breakpoint(medium down)
			padding: 30px 20px
			margin: 20px auto

		.form__title
			font-size: rem-calc(28)
			margin-bottom: 10px
			text-align: center
			word-wrap: break-word

			+breakpoint(medium down)
				font-size: rem-calc(24)

		.form__subtitle
			text-align: center

		.form__body
			margin-top: 25px

		.form__button
			margin: 20px 0 0
			text-align: center

	&_large
		max-width: 485px
		padding: 45px 50px 50px

		+breakpoint(medium down)
			padding: 30px 20px

		.form__title
			font-size: rem-calc(44)

			+breakpoint(medium down)
				font-size: rem-calc(36)

		.form__button
			margin-top: 30px


	&_inline
		margin: 65px 0 0 0
		text-align: center

		+breakpoint(small down)
			margin-top: 35px

		.checkbox
			width: 100%
			min-height: 45px
			padding: 5px 20px
			background: rgba(#000, .4)
			display: flex
			align-items: center
			border-radius: $input-radius

		.form__button
			margin-top: 35px


	&__label
		line-height: 45px

		label
			line-height: 45px

		&_strong
			+font-bold

	&__phone
		display: flex

		+breakpoint(small down)
			flex-direction: column

		select
			max-width: 200px
			margin-right: 20px

			+breakpoint(small down)
				width: 100%
				margin: 0 0 1rem 0
				max-width: none

	&__buttons

		.button
			margin: 0 5px

			+breakpoint(small down)
				width: 100%
				margin: 5px 0

	&__description
		font-size: rem-calc(12)

	&__error
		font-size: rem-calc(12)
		color: get-color(alert)

	.phone-select
		max-width: 200px
		width: 200px
		margin-right: 20px

		+breakpoint(small down)
			width: 100%
			margin: 0 0 1rem 0
			max-width: none

	.phone-input
		width: calc(100% - 220px)
		display: inline-block

		+breakpoint(small down)
			width: 100%
