.gallery
	width: 100%
	overflow: hidden

	.slick-list
		overflow: visible

	&__item
		margin-bottom: 30px
		position: relative

		.element-delete
			right: 15px
			background: $white

		.popup-image
			display: block

		&:hover
			.element-delete
				opacity: 1
		
		img
			width: 100%
			height: auto

	&.carousel
	
		.gallery__item
			margin: 0 10px
			+transition

			.element-delete
				right: 0

			+breakpoint(medium down)
				opacity: .5

			&.slick-center
				+breakpoint(medium down)
					opacity: 1

			img
				height: 310px
				width: auto

				+breakpoint(medium down)
					height: 250px

				+breakpoint(small down)
					height: 160px

		
