.header
	position: absolute
	top: 0
	left: 0
	width: 100%
	z-index: 10

	&__logo
		display: block
		padding: 50px 10px
		max-width: 260px

		+breakpoint(medium down)
			padding: 30px 0
			margin: 0 auto
			max-width: 200px

	&__image
		max-width: 100%