.image-edit
	position: relative
	border: 1px solid transparent
	cursor: pointer

	&:hover
		border: 1px dashed map-get($gray, gray5)

		.image-edit__form
			opacity: 1

		.image-edit__button
			width: 70px
			min-width: 70px
			height: 70px
			font-size: 28px

	&__form
		display: block
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		opacity: 0
		+transition

	&__input
		display: none

	&__label
		display: flex
		align-items: center
		justify-content: center
		width: 100%
		height: 100%
		cursor: pointer
		

	&__button
		width: 0
		height: 0
		min-width: 0
		background: rgba($black, .5)
		border-radius: 50%
		display: flex
		align-items: center
		justify-content: center
		color: $white
		font-size: 0
		+transition

		+hover
			background: rgba($black, .8)
			width: 80px
			height: 80px
			min-width: 80px
