.intro
	height: auto
	color: $white
	font-size: rem-calc(20)

	+breakpoint(medium down)
		min-height: 0
		font-size: rem-calc(18)
		
	
	&__content
		position: relative
		z-index: 5
		padding: 100px 0 0

		+breakpoint(medium down)
			text-align: center
			max-width: 660px
			margin: 0 auto

		+breakpoint(small down)
			padding: 70px 0

		&_center
			+text-center
			max-width: 660px
			margin: 0 auto
			padding-bottom: 100px

			+breakpoint(small down)
				padding-bottom: 70px

	&__left
		padding-right: 75px

		+breakpoint(large down)
			padding: 0


	&__button
		margin-top: 30px