.mfp-wrap
	user-select: none

.popup-image
	outline: none

.magnific__arrow
	display: flex
	align-items: center
	justify-content: center
	outline: none
	border: none
	cursor: pointer
	position: absolute
	width: 70px
	height: 100%
	top: 0
	z-index: 1050

	&_right
		right: 0
		
		.svg-popup-arrow-prev
			display: none

	&_left
		left: 0

		.svg-popup-arrow-next
			display: none

	&:hover
		.svg-popup-arrow-next,
		.svg-popup-arrow-prev
			.cls-1
				stroke: get-color(primary)

.magnific__close
	margin: 10px
	z-index: 1050
	padding: 0
	display: flex
	align-items: center
	justify-content: center


.mfp-content,
.mfp-image-holder .mfp-content
	max-width: 85%

	+breakpoint(medium down)
		max-width: 100%

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg
	opacity: 0
	transition: all 0.3s ease-out


.mfp-with-zoom.mfp-ready .mfp-container 
	opacity: 1

.mfp-with-zoom.mfp-ready.mfp-bg 
	opacity: 0.8

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg 
	opacity: 0
