.modal
	position: fixed
	z-index: 1500
	width: 100%
	height: 100%
	justify-content: center
	align-items: flex-start
	top: 0
	left: 0
	padding: 100px 20px 100px
	display: flex
	overflow: auto
	pointer-events: none
	opacity: 0
	+transition

	+breakpoint(medium down)
		padding: 80px 20px

	+breakpoint(small down)
		padding: 20px


	&__container
		max-width: 885px
		width: 100%
		background: $white
		position: relative
		padding: 40px 75px 60px
		transform: scale(0.5)
		+transition

		+breakpoint(medium down)
			padding: 30px 45px

		+breakpoint(small down)
			padding: 30px 

	&_opened
		opacity: 1
		pointer-events: auto

		.modal__container
			pointer-events: auto
			transform: scale(1)

	&__close
		color: map-get($gray, gray10)
		position: absolute
		top: 30px
		right: 20px
		+transition

		+breakpoint(medium down)
			top: 20px
			right: 10px

		+breakpoint(small down)
			top: 10px
			right: 10px

		&:hover
			transform: rotate(-90deg)

	&__title
		text-align: center
		font-size: rem-calc(36)
		+font-bold
		margin-bottom: 40px

		+breakpoint(medium down)
			font-size: rem-calc(28)
			margin-bottom: 25px

		+breakpoint(small down)
			font-size: rem-calc(24)

	&__subtitle
		font-size: rem-calc(18)
		text-align: center
		margin: 40px 0 20px

		+breakpoint(medium down)
			margin: 25px 0 15px
			font-size: rem-calc(16)

	&__slide
		outline: none
		+transition

		img
			margin: 0 auto

	&__dropzone
		& + .modal__upload-btn
			margin-top: 30px
			text-align: center

	&__carousel
		position: relative


		.carousel-prev,
		.carousel-next
			width: 20px

		.carousel-prev
			left: -40px

		.carousel-next
			right: -40px

		.slick-dots
			display: none !important

			+breakpoint(medium down)
				display: block !important
				margin: 10px 0

		&_icons

			.modal__slide
				padding: 0 10px

				&:hover
					transform: translate3d(0, -10px, 0)

					+breakpoint(medium down)
						transform: none
		&_bg

			.modal__slide
				padding: 10px 5px

				&:hover
					transform: translate3d(0, -10px, 0)

					+breakpoint(medium down)
						transform: none



