.program
	margin-left: 15px
	position: relative

	&:before
		content: ''
		display: block
		position: absolute
		top: 0
		left: -1px
		width: 3px
		height: calc(100% - 25px)
		background: url(../../landings/images/dot.png) repeat left bottom
		background-size: 6px
	
	&__items
		padding-left: 30px

	&__item
		margin-bottom: 30px
		padding-right: 35px
		position: relative

		&:hover
			.element-delete
				opacity: 1

	&__title
		position: relative
		margin-bottom: 10px

		&:before
			content: ''
			display: block
			width: 22px
			height: 22px
			border-radius: 50%
			background: $white
			border: 3px solid get-color(secondary)
			position: absolute
			top: 0
			left: -41px

	&__description
		font-size: rem-calc(18)

		+breakpoint(small down)
			font-size: rem-calc(16)

	&__button
		padding-left: 30px
		position: relative

		&:before
			content: ''
			display: block
			width: 30px
			height: 3px
			position: absolute
			top: 25px
			left: 0
			background: url(../../landings/images/dot.png) repeat left top
			background-size: 6px


	&_authors
		+breakpoint(medium down)
			margin-left: 0

		&:before
			display: none

		.program__items
			padding-left: 0

		.program__item
			display: flex
			align-items: flex-start
			position: relative

			+breakpoint(medium down)
				flex-direction: column

			&:last-child
				&:before
					display: none

			&:before
				content: ''
				display: block
				position: absolute
				top: 0
				left: 194px
				width: 3px
				height: calc(100% + 30px)
				background: url(../../landings/images/dot.png) repeat left bottom
				background-size: 6px

				+breakpoint(medium down)
					left: 29px

		.program__author
			display: flex
			width: 225px
			min-width: 225px
			position: relative
			z-index: 5

		.program__content
			padding-left: 30px

			+breakpoint(medium down)
				padding-left: 45px

		.program__name
			margin-right: 15px
			width: 150px
			min-width: 150px
			max-width: 150px
			text-align: right
			display: flex
			min-height: 60px
			align-items: center
			justify-content: flex-end
			word-break: break-word
			+font-bold

			+breakpoint(medium down)
				order: 2

		.program__image
			width: 60px
			height: 60px
			border-radius: 50%
			overflow: hidden

			+breakpoint(medium down)
				order: 1

			img
				+fit

		.program__title

			&:before
				display: none

		.program__button
			padding: 0
			text-align: center

			&:before
				display: none

			