.product
	
	&__image

		+breakpoint(medium down)
			text-align: center
			order: 1
			margin-bottom: 20px

	&__image-inner
		padding: 20px
		display: inline-block
		max-width: 420px

	&__description
		+breakpoint(medium down)
			order: 2

	&__description-inner
		padding-right: 70px

		+breakpoint(medium down)
			padding-right: 0

	&__title
		margin-bottom: 0

	.section__subtitle
		margin-bottom: 20px