.quotes

	&__item
		text-align: center
		margin-bottom: 35px
		position: relative

		&:hover
			.element-delete
				opacity: 1

		&.grid__col_6,
		&.grid__col_4

			&:after
				content: ''
				display: block
				width: 1px
				height: calc(100% - 10px)
				position: absolute
				top: -10px
				right: 0
				background: map-get($gray, gray4)

				+breakpoint(medium down)
					display: none

		&.grid__col_6:nth-child(2n),
		&.grid__col_4:nth-child(3n)
			&:after
				display: none
	
	&__image
		width: 135px
		height: 135px
		border-radius: 50%
		overflow: hidden
		margin: 0 auto 20px
		border: 1px solid transparent

		img
			+fit

	&__person,
	&__text
		padding: 0 20px

	&__person
		margin-bottom: 20px

	&__name
		+font-bold
		font-size: rem-calc(22)

	&__status
		+font-light-italic