.quote
	
	&__text
		padding: 20px
		background: map-get($gray, gray2)
		margin-bottom: 30px
		+font-light-italic
		font-size: rem-calc(18)
		position: relative

		+breakpoint(small down)
			margin-bottom: 20px

		&:after
			content: ''
			display: block
			width: 0
			height: 0
			border: 15px solid transparent
			border-top: 13px solid map-get($gray, gray2)
			position: absolute
			left: 25px
			bottom: -28px


	&__person
		display: flex
		align-items: center

	&__image
		width: 60px
		height: 60px
		min-width: 60px
		margin: 0 15px 0 10px
		border-radius: 50%
		overflow: hidden

		img
			+fit

	&__name
		font-size: rem-calc(22)
		+font-bold

	&__status
