.reviews
	position: relative
	
	&__image
		border-radius: 50%
		overflow: hidden

		img
			+fit

	&__text
		font-size: rem-calc(18)

	&__item
		outline: none
		position: relative

		+breakpoint(medium down)
			margin: 0 20px

		&:hover
			.element-delete
				opacity: 1

	&__author
		+font-bold

	&__inner
		+breakpoint(medium down)
			padding: 0

	&_carousel

		.element-delete
			right: 50px

		.reviews__item
			margin: 0 0 35px

			+breakpoint(medium down)
				margin: 0 20px 35px

		.reviews__image
			width: 150px
			height: 150px
			margin: 0 auto 75px

			+breakpoint(medium down)
				width: 100px
				height: 100px
				margin: 0 auto 30px

		.reviews__text,
		.reviews__author
			max-width: 750px
			text-align: center

		.reviews__text
			margin: 0 auto 10px
			+font-italic

		.reviews__author
			margin: 0 auto
			font-size: rem-calc(22)

			+breakpoint(medium down)
				font-size: rem-calc(18)



	&_row
		margin-bottom: -40px

		.reviews__item
			margin: 0 0 40px

		.quote__image
			width: 70px
			height: 70px
			margin: 0 15px 0 5px

		.quote__name
			font-size: rem-calc(18)
