@import './timeline-blocks'

.timeline
	height: 415px
	width: 100%
	overflow: hidden
	position: relative
	margin-top: 70px

	+breakpoint(medium down)
		display: none
	
	&__main
		width: 100%
		height: 375px
		background: url(../../landings/images/timeline/bg-timeline.jpg) no-repeat
		background-size: cover
		user-select: none
		position: relative

		&:after
			content: ''
			display: block
			width: 100%
			height: 1px
			background: #373737
			position: absolute
			left: 0
			bottom: 0
			z-index: 10

	&__area
		height: 415px
		width: 10500px
		cursor: grab
		z-index: 11

		&_transition
			transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1)

	&__scale
		position: absolute
		background: $white
		width: 100%
		height: 40px
		bottom: 0
		z-index: 35
		border-top: 1px solid transparent

	&__scale-item
		display: inline-block
		vertical-align: middle
		margin-right: 117px

		&:first-child
			margin-left: 105px

		&_year
			position: relative
			color: #404041
			+font-bold
			font-size: rem-calc(18)
			padding-top: 10px

			&:before
				content: ''
				position: absolute
				display: block
				width: 10px
				height: 10px
				border-radius: 50%
				border: 1px solid $black
				background: map-get($gray, gray1)
				top: -6px
				left: 14px

		&_month
			color: map-get($gray, gray16)


	&__block
		background: $white
		position: relative
		display: inline-block
		box-shadow: 1px 2px 5px rgba(map-get($gray, gray13), .3)
		cursor: pointer
		+transition

		&:before
			content: ''
			display: block
			position: absolute
			top: 0
			left: 0
			border: 1px dotted rgba(186, 186, 186, 0.69)
			width: 1px
			height: 375px
			z-index: -1

		&:hover,
		&_active
			background: get-color(secondary)

			&:before
				border: 1px solid get-color(secondary)

	&__image
		width: 103px
		display: inline-block
		vertical-align: top
		margin-right: 17px

	&__description
		display: inline-block
		vertical-align: top
		color: #1e1e1e
		+font-regular
		font-size: rem-calc(14)
		padding: 22px 23px 0 0










