.top-toolbar
	height: 60px
	background: #f3f3f3
	display: flex
	justify-content: space-between
	overflow: hidden
	position: fixed
	top: 0
	width: 100%
	left: 0
	z-index: 100
	box-shadow: 0 0 5px 0 rgba($black, .2)

	&__col
		display: flex

		&_left

			.button_topbar
				border-right: 1px solid map-get($gray, gray4)

				+hover
					border-right: 1px solid $button-background

		&_right

			.button_topbar
				border-left: 1px solid map-get($gray, gray4)

				+hover
					border-left: 1px solid $button-background



	& + .section,
	& + .sections
		margin-top: 60px
