.timeline__block

	&:first-child
		margin-left: 123px
		top: 30px

	&_seven-year
		top: 160px
		margin-left: -117px

	&_nine-year
		top: 15px
		margin-left: 18px

	&_january-ten-year
		top: 130px
		margin-left: -41px

	&_february-ten-year
		top: 250px
		margin-left: -123px
		z-index: 20

	&_september-ten-year
		top: 50px
		margin-left: -127px

	&_may-eleven-year
		top: 70px
		margin-left: 54px

	&_june-eleven-year
		top: 200px
		margin-left: -144px

	&_august-eleven-year
		top: 145px
		margin-left: 17px

	&_november-eleven-year
		top: 50px
		margin-left: 10px

	&_may-twelfth-year
		top: 100px
		margin-left: 107px

	&_june-twelfth-year
		top: 229px
		margin-left: -139px

	&_september-twelfth-year
		top: 60px
		margin-left: 27px

	&_october-twelfth-year
		top: 180px
		margin-left: -101px
		z-index: 30

	&_december-twelfth-year
		top: 15px
		margin-left: -133px

	&_january-thirteen-year
		top: 138px
		margin-left: -55px

	&_february-thirteen-year
		top: 260px
		margin-left: -171px

	&_april-thirteen-year
		top: 150px
		margin-left: 11px

	&_november-thirteen-year
		top: 20px
		margin-left: 58px

	&_december-thirteen-year
		top: 190px
		margin-left: -162px

	&_april-fourteen-year
		top: 68px
		margin-left: 37px

	&_may-fourteen-year
		top: 230px
		margin-left: -99px

	&_october-fourteen-year
		top: 10px
		margin-left: 28px

	&_november-fourteen-year
		top: 130px
		margin-left: -216px

	&_december-fourteen-year
		top: 250px
		margin-left: -132px
		z-index: 30

	&_january-fifteen-year
		top: 40px
		margin-left: -65px

	&_february-fifteen-year
		top: 190px
		margin-left: -119px
		z-index: 30

	&_july-fifteen-year
		top: 50px
		margin-left: -72px

	&_august-fifteen-year
		top: 250px
		margin-left: -161px
		z-index: 20

	&_september-fifteen-year
		top: 20px
		margin-left: -173px

	&_october-fifteen-year
		top: 145px
		margin-left: -83px
		z-index: 30

	&_november-fifteen-year
		top: 30px
		margin-left: -183px

	&_december-fifteen-year
		top: 260px
		margin-left: -104px
		z-index: 30

	&_january-sixteen-year
		top: 80px
		margin-left: -16px

	&_february-sixteen-year
		top: 210px
		margin-left: -141px
		z-index: 30

	&_march-sixteen-year
		top: 25px
		margin-left: -160px

	&_april-sixteen-year
		top: 256px
		margin-left: -207px
		z-index: 30

	&_may-sixteen-year
		top: 140px
		margin-left: -338px
		z-index: 29

	&_september-sixteen-year
		top: 15px
		margin-left: -175px

	&_october-sixteen-year
		top: 195px
		margin-left: -80px
		z-index: 30

	&_november-sixteen-year
		top: 55px
		margin-left: -157px

	&_december-sixteen-year
		top: 250px
		margin-left: -226px
		z-index: 30

	&_january-seventeen-year
		top: 100px
		margin-left: -80px