body
	&.fixed
		overflow: hidden

*
	&::selection
		background: get-color(primary)
		color: $white

	-webkit-tap-highlight-color: rgba(get-color(primary),.2)

.section
	position: relative
	padding: 80px 0 75px

	&__title
		margin-bottom: 50px

	&__subtitle
		+font-bold
		font-size: rem-calc(22)
		margin-bottom: 30px

	&__background
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 1
		background: $black

	&__image
		+fit
		opacity: .53

	.wrapper
		position: relative
		z-index: 2

	&_custom
		padding: 40px 0

		.section__title,
		h2
			margin: 0
			
	&_editable
		.advantages_images
			.advantages__icon
				cursor: pointer

				&:hover
					border: 1px dashed map-get($gray, gray5)

		&::before,
		&::after
			content: ''
			display: block
			position: absolute
			left: 0
			width: 100%
			height: 0
			z-index: 6
			border-top: 1px dashed map-get($gray, gray16)
			opacity: 0
			+transition

		&::before
			top: 0

		&::after
			bottom: 0

		+hover
			&::before,
			&::after
				opacity: 1

			.add-block,
			.edit-panel
				opacity: 1

	&_gray
		background: $section-gray

		.carousel_fader .carousel__inner

			&:before
				background: linear-gradient(to left, transparent 0%, $section-gray 100%)

			&:after
				background: linear-gradient(to right, transparent 0%, $section-gray 100%)

.wrapper
	+grid-row
	padding: 0 15px

.text-center
	+text-center

.description
	padding: 50px 0 5px
	color: rgba($white, .7)
	font-style: italic
	background: $black

.app-wrapper
	&__overlay
		position: fixed
		width: 100%
		height: 100%
		top: 0
		left: 0
		bottom: 0
		right: 0
		z-index: 1400
		opacity: 0
		background: rgba($black, .7)
		transition: .5s
		pointer-events: none

		&_visible
			opacity: 1
			pointer-events: auto

*[contenteditable]
	outline: none
	padding: 5px 10px
	border: 1px dashed transparent
	transition: .3s

	&:focus,
	&:hover
		border: 1px dashed map-get($gray, gray5)


.element-delete
	display: flex
	width: 30px
	height: 30px
	align-items: center
	justify-content: center
	cursor: pointer
	position: absolute
	top: 0
	right: 0
	z-index: 10
	opacity: 0
	+transition
	
	.icon-bin
		font-size: 15px
		color: map-get($gray, gray8)
		transition: .1s

		&:hover
			color: map-get($gray, gray17)

.add-button
	position: fixed
	left: 0
	top: 50%
	background: get-color(primary)
	color: $white
	z-index: 1000
	padding: 15px 20px
	+font-bold
	cursor: pointer
	+transition
	transform-origin: 0 0 
	transform: rotate(-90deg) translate(-50%, 0)
	letter-spacing: .5px

	+breakpoint(small down)
		display: none

	.icon-plus
		&:before
			margin: 0 5px

	+hover
		background: scale-color(get-color(primary), $lightness: 5%)
		color: $white

.progress-block
	width: 100%
	height: 300px
	position: relative

	&:after
		content: ''
		width: 100%
		height: 100%
		display: block
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: rgba($white, 1)
		z-index: 100

	&:before
		content: ''
		height: 60px
		width: 60px
		position: absolute
		left: 50%
		top: 50%
		margin-top: -30px
		margin-left: -30px
		animation: rotation 1s infinite linear
		border-left: 3px solid rgba(get-color(primary), .15)
		border-right: 3px solid rgba(get-color(primary), .15)
		border-bottom: 3px solid rgba(get-color(primary), .15)
		border-top: 3px solid rgba(get-color(primary), .8)
		border-radius: 100%
		box-sizing: border-box
		z-index: 200



