.lead,
strong
	font-family: $body-font-family-bold
	font-weight: normal

.small, small
	color: $medium-gray
	font-size: 0.875rem

.no-list
	list-style: none
	padding: 0
	margin: 0

.list-ok
	list-style: none
	padding: 0
	margin: 0 0 rem-calc(20) 0

	li
		display: block
		padding-left: 25px
		margin-bottom: 10px
		position: relative

		&:before
			content: ''
			display: block
			width: 14px
			height: 9px
			background: url(../../landings/images/svg/ok.svg) no-repeat center
			position: absolute
			top: 6px
			left: 0