<section class="section">
    <div class="wrapper">
        <div class="section__title">
            <h2 class="text-center" spellcheck="false">{{title}}</h2>
        </div>
        <div class="about grid">
            <div class="grid__row">
                <div class="grid__col_8 grid__col_12_md">
                    <p>В распоряжении клиентов Grand Capital максимум возможностей для прибыльной торговли на финансовых рынках: доступ к Форекс, инструменты CFD, платформа под бинарные опционы, инвестиционные портфели из более чем 330 активов фондового и товарно-сырьевого рынков. Grand Capital проводит активную региональную политику: компания открыта для партнёрства и сотрудничества.</p>
                    <p>Наша команда постоянно внедряет новые сервисы и услуги, следуя за биржевыми трендами. Клиентский счёт Grand Capital – это двухфакторная верификация, торговля в нескольких терминалах, многообразие инструментов для торговли, различные способы ввода и вывода денежных средств.</p>
                    <p>Заслуги компании признаны в профессиональной среде. Grand Capital – член Международной Финансовой комиссии (Finacom), независимого регулятора в области Форекс. Компания неоднократно удостаивалась звания «Лучший брокер» и получала профильные награды.</p>
                </div>
                <div class="grid__col_4 grid__col_12_md">
                    <div class="quote">
                        <div class="quote__text">
                            Миссия компании - стремление к созданию максимально комфортных условий для торговли на рынке Форекс и стабильному росту финансового благополучия наших клиентов.
                        </div>
                        <div class="quote__person">
                            <div class="quote__image"><img src="/static/landings/images/stas.jpg" alt=""></div>
                            <div class="quote__author">
                                <div class="quote__name">Станислав Ванеев</div>
                                <div class="quote__status">Президент компании</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
