<section class="section">
    <div class="wrapper">
        <div class="section__title">
            <h2 class="text-center" spellcheck="false">{{title}}</h2>
        </div>
        <div class="about grid">
            <div class="grid__row">
                <div class="grid__col_8 grid__col_12_md">
                    <p>В распоряжении клиентов Grand Capital максимум возможностей для прибыльной торговли на финансовых рынках: доступ к Форекс, инструменты CFD, платформа под бинарные опционы, инвестиционные портфели из более чем 330 активов фондового и товарно-сырьевого рынков. Grand Capital проводит активную региональную политику: компания открыта для партнёрства и сотрудничества.</p>
                    <p>Наша команда постоянно внедряет новые сервисы и услуги, следуя за биржевыми трендами. Клиентский счёт Grand Capital – это двухфакторная верификация, торговля в нескольких терминалах, многообразие инструментов для торговли, различные способы ввода и вывода денежных средств.</p>
                    <p>Заслуги компании признаны в профессиональной среде. Grand Capital – член Международной Финансовой комиссии (Finacom), независимого регулятора в области Форекс. Компания неоднократно удостаивалась звания «Лучший брокер» и получала профильные награды.</p>
                </div>
                <div class="grid__col_4 grid__col_12_md">
                    <div class="quote">
                        <div class="quote__text">
                            Миссия компании - стремление к созданию максимально комфортных условий для торговли на рынке Форекс и стабильному росту финансового благополучия наших клиентов.
                        </div>
                        <div class="quote__person">
                            <div class="quote__image"><img src="/static/landings/images/stas.jpg" alt=""></div>
                            <div class="quote__author">
                                <div class="quote__name">Станислав Ванеев</div>
                                <div class="quote__status">Президент компании</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="timeline">
        <div class="timeline__main">
            <div class="timeline__area timeline__area_transition">
                {% for element in timeline_elements %}
                    <div class="timeline__block timeline__block_{{element.slug}}">
                        {% if element.pic %}
                            <img class="timeline__image" src="{{element.pic.url}}">
                        {% else %}
                            <img class="timeline__image" src="/static/landings/images/timeline/{{element.slug}}.jpg">
                        {% endif %}
                        <div style="max-width: {{element.width}}px;" class="timeline__description">{{element.title}}</div>
                    </div>
                {% endfor %}
                <div class="timeline__scale">
                    <div class="timeline__scale-item timeline__scale-item_year">2006</div>
                    <div class="timeline__scale-item timeline__scale-item_year">2007</div>
                    <div class="timeline__scale-item timeline__scale-item_year">2008</div>
                    <div class="timeline__scale-item timeline__scale-item_year">2009</div>
                    <div class="timeline__scale-item timeline__scale-item_year">2010</div>
                    <div class="timeline__scale-item timeline__scale-item_month">January</div>
                    <div class="timeline__scale-item timeline__scale-item_month">February</div>
                    <div class="timeline__scale-item timeline__scale-item_month">March</div>
                    <div class="timeline__scale-item timeline__scale-item_year">2011</div>
                    <div class="timeline__scale-item timeline__scale-item_month">May</div>
                    <div class="timeline__scale-item timeline__scale-item_month">June</div>
                    <div class="timeline__scale-item timeline__scale-item_month">July</div>
                    <div class="timeline__scale-item timeline__scale-item_month">August</div>
                    <div class="timeline__scale-item timeline__scale-item_month">September</div>
                    <div class="timeline__scale-item timeline__scale-item_month">October</div>
                    <div class="timeline__scale-item timeline__scale-item_year">2012</div>
                    <div class="timeline__scale-item timeline__scale-item_month">February</div>
                    <div class="timeline__scale-item timeline__scale-item_month">May</div>
                    <div class="timeline__scale-item timeline__scale-item_month">June</div>
                    <div class="timeline__scale-item timeline__scale-item_month">August</div>
                    <div class="timeline__scale-item timeline__scale-item_month">September</div>
                    <div class="timeline__scale-item timeline__scale-item_month">October</div>
                    <div class="timeline__scale-item timeline__scale-item_month">December</div>
                    <div class="timeline__scale-item timeline__scale-item_year">2013</div>
                    <div class="timeline__scale-item timeline__scale-item_month">January</div>
                    <div class="timeline__scale-item timeline__scale-item_month">February</div>
                    <div class="timeline__scale-item timeline__scale-item_month">March</div>
                    <div class="timeline__scale-item timeline__scale-item_month">April</div>
                    <div class="timeline__scale-item timeline__scale-item_month">August</div>
                    <div class="timeline__scale-item timeline__scale-item_month">November</div>
                    <div class="timeline__scale-item timeline__scale-item_month">December</div>
                    <div class="timeline__scale-item timeline__scale-item_year">2014</div>
                    <div class="timeline__scale-item timeline__scale-item_month">April</div>
                    <div class="timeline__scale-item timeline__scale-item_month">May</div>
                    <div class="timeline__scale-item timeline__scale-item_month">June</div>
                    <div class="timeline__scale-item timeline__scale-item_month">October</div>
                    <div class="timeline__scale-item timeline__scale-item_month">November</div>
                    <div class="timeline__scale-item timeline__scale-item_month">December</div>
                    <div class="timeline__scale-item timeline__scale-item_year">2015</div>
                    <div class="timeline__scale-item timeline__scale-item_month">January</div>
                    <div class="timeline__scale-item timeline__scale-item_month">February</div>
                    <div class="timeline__scale-item timeline__scale-item_month">March</div>
                    <div class="timeline__scale-item timeline__scale-item_month">July</div>
                    <div class="timeline__scale-item timeline__scale-item_month">August</div>
                    <div class="timeline__scale-item timeline__scale-item_month">September</div>
                    <div class="timeline__scale-item timeline__scale-item_month">October</div>
                    <div class="timeline__scale-item timeline__scale-item_month">November</div>
                    <div class="timeline__scale-item timeline__scale-item_month">December</div>
                    <div class="timeline__scale-item timeline__scale-item_year">2016</div>
                    <div class="timeline__scale-item timeline__scale-item_month">January</div>
                    <div class="timeline__scale-item timeline__scale-item_month">February</div>
                    <div class="timeline__scale-item timeline__scale-item_month">March</div>
                    <div class="timeline__scale-item timeline__scale-item_month">April</div>
                    <div class="timeline__scale-item timeline__scale-item_month">May</div>
                    <div class="timeline__scale-item timeline__scale-item_month">September</div>
                    <div class="timeline__scale-item timeline__scale-item_month">October</div>
                    <div class="timeline__scale-item timeline__scale-item_month">November</div>
                    <div class="timeline__scale-item timeline__scale-item_month">December</div>
                    <div class="timeline__scale-item timeline__scale-item_year">2017</div>
                    <div class="timeline__scale-item timeline__scale-item_month">January</div>

                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="about-slider carousel carousel_fader">
            <a class="svg-arrow-prev carousel-prev" id="about-arrow-prev">
                <svg class="svg-about-arrow-prev" xmlns="http://www.w3.org/2000/svg" width="34.226" height="94.979" viewBox="0 0 34.226 94.979">
                  <path class="cls-1" d="M1009.83,653.936L984.6,697.291l25.248,43.268" transform="translate(-977.698 -649.761)"/>
                </svg>
            </a>
            <a class="svg-arrow-next carousel-next" id="about-arrow-next">
               <svg class="svg-about-arrow-next" xmlns="http://www.w3.org/2000/svg" width="34.167" height="95.167" viewBox="0 0 34.167 95.167">
                  <path class="cls-1" d="M980.009,740.9l25.181-43.444-25.2-43.357" transform="translate(-977.917 -649.917)"/>
                </svg>
            </a>
            <div class="about-slider__items carousel__inner" settings="slickAboutConfig">
                {% for element in timeline_elements %}
                    <div class="about-slider__item">
                        <div class="about-slider__image">
                            {% if element.pic %}
                                <img style="max-width: 200px;" src="{{element.pic.url}}" alt="">
                            {% else %}
                                <img style="max-width: 200px;" src="/static/landings/images/timeline/{{element.slug}}.jpg" alt="">
                            {% endif %}
                        </div>
                        <div class="about-slider__content">
                            <div class="about-slider__date">{{element.month}} {{element.year}}</div>
                            <div class="about-slider__title">{{element.title}}</div>
                            <div class="about-slider__text">{{element.text}}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
