{% load staticfiles i18n shared_tags bonus_tags %}
<section class="section">
    <div class="wrapper">
        <div class="section__title">
            <h2 class="text-center" spellcheck="false">{{block.title}}</h2>
        </div>
    </div>
    <div class="actions actions_carousel carousel">
        <a href="#" class="svg-arrow-prev carousel-prev actions-arrow-prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="28.125" height="54" viewBox="0 0 28.125 54">
                <path class="cls-1" d="M42.4,213.006L15.994,186.5,42.4,159.994" transform="translate(-15.5 -159.5)"/>
            </svg>
        </a>
        <a href="#" class="svg-arrow-next carousel-next actions-arrow-next">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="54" viewBox="0 0 28 54">
                <path class="cls-1" d="M1807.72,164.994l26.29,26.506-26.29,26.506" transform="translate(-1806.5 -164.5)"/>
            </svg>
        </a>
        <div class="actions__items">
            {% for action in actions %}
                <div class="actions__item">
                    <img class="actions__image" src="{{action.background}}" alt="">
                    <div class="wrapper">
                        <div class="actions__content grid">
                            <div class="grid__row">
                                <div class="grid__col_6 grid__col_8_lg grid__col_12_md actions__inner">
                                    <h3 class="actions__title">{{action.bonus_type.name}}</h3>
                                    <div class="actions__subtitle">{{action.slogan}}</div>
                                    <div class="actions__text">
                                        <ul class="list-ok">
                                        {% for line in action.short_description|striptags|get_paragraphs %}
                                            <li>{{line}}</li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                    <a href="#" class="button button_base">Получить бонус</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="actions__nav">
            <div class="wrapper actions__nav-items">
                {% for action in actions %}
                    <a class="actions__nav-item {% if forloop.first %}actions__nav-item_active{% endif %}">
                        <div class="actions__nav-icon"><img src="{{action.pic}}" alt=""></div>
                        <div class="actions__nav-text">{{action.bonus_type.name}}</div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
