<section class="section">
    <div class="wrapper">
        <div class="section__title">
            <h2 class="text-center" spellcheck="false">{{block.title}}</h2>
        </div>
        <div class="grid actions actions_row">
            <div class="grid__row actions__items">
                {% for action in actions %}
                    <div class="actions__item grid__col_6 grid__col_12_md">
                        <div class="actions__image">
                            <img class="actions__img" src="{{action.background_small}}" alt="">
                            <div class="actions__icon"><img src="{{action.pic}}" alt=""></div>
                        </div>
                        <div class="actions__content">
                            <h3 class="actions__title">{{action.bonus_type.name}}</h3>
                            <div class="actions__text">{{action.slogan}}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
