<div class="advantages__item {% if is_full %}advantages__item_full {% else %}grid__col_12_sm grid__col_6_lg{% endif %}{% if e_length == 1 %} grid__col_12 {% elif e_length == 2 %} grid__col_6 {% elif e_length == 3 %} grid__col_4 {% elif e_length > 3 %} grid__col_3 {% endif %}">
    <div class="advantages__icon">
        <img src="{{img.src}}" alt="">
    </div>
    <div class="advantages__content">
        <h3 class="advantages__title" spellcheck="false">{{title}}</h3>
        <div class="advantages__text" spellcheck="false">
            {{text}}
        </div>
    </div>
</div>
