{% load blocks %}
<section class="section">
    <div class="wrapper">
        <div class="section__title">
            <h2 class="text-center" spellcheck="false">{{title}}</h2>
        </div>
        <div class="grid">
            <div class="advantages advantages_digits grid__row">
                {% render_blocks elements 1 True True %}
            </div>
        </div>
    </div>
</section>
