<section class="section section_gray">
    <div class="wrapper">
        <div class="section__title">
            <h2 class="text-center" spellcheck="false">{{block.title}}</h2>
        </div>
    </div>
    <div class="awards carousel carousel_fader">
        <a href="#" class="svg-arrow-prev carousel-prev awards-arrow-prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="28.125" height="54" viewBox="0 0 28.125 54">
                <path class="cls-1" d="M42.4,213.006L15.994,186.5,42.4,159.994" transform="translate(-15.5 -159.5)"/>
            </svg>
        </a>
        <a href="#" class="svg-arrow-next carousel-next awards-arrow-next">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="54" viewBox="0 0 28 54">
                <path class="cls-1" d="M1807.72,164.994l26.29,26.506-26.29,26.506" transform="translate(-1806.5 -164.5)"/>
            </svg>
        </a>
        <div class="awards__inner carousel__inner wrapper" settings="slickAwardsConfig">
            <div class="awards__item">
                <div class="grid__row grid__row_right grid__row_middle">
                    <div class="grid__col_5 grid__col_12_md awards__list">
                        <ul>
                            <li>
                                <div class="awards__title">Лучшие технологии для трейдинга</div>
                                <div class="awards__subtitle">Moscow Financial Expo 2016</div>
                            </li>
                            <li>
                                <div class="awards__title">Лучшая партнерская программа</div>
                                <div class="awards__subtitle">MENA Financial Expo 2016</div>
                            </li>
                            <li>
                                <div class="awards__title">Лучший брокер в Европе</div>
                                <div class="awards__subtitle">По версии портала ForexStars 2015</div>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__col_6 grid__col_12_md awards__image">
                        <img src="/static/landings/images/awards/award-01.png" alt="">
                    </div>
                </div>
            </div>
            <div class="awards__item">
                <div class="grid__row grid__row_right grid__row_middle">
                    <div class="grid__col_5 grid__col_12_md awards__list">
                        <ul>
                            <li>
                                <div class="awards__title">Лучшие технологии для трейдинга</div>
                                <div class="awards__subtitle">Moscow Financial Expo 2016</div>
                            </li>
                            <li>
                                <div class="awards__title">Лучшая партнерская программа</div>
                                <div class="awards__subtitle">MENA Financial Expo 2016</div>
                            </li>
                            <li>
                                <div class="awards__title">Лучший брокер в Европе</div>
                                <div class="awards__subtitle">По версии портала ForexStars 2015</div>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__col_6 grid__col_12_md awards__image">
                        <img src="/static/landings/images/awards/award-02.png" alt="">
                    </div>
                </div>
            </div>
            <div class="awards__item">
                <div class="grid__row grid__row_right grid__row_middle">
                    <div class="grid__col_5 grid__col_12_md awards__list">
                        <ul>
                            <li>
                                <div class="awards__title">Лучшие технологии для трейдинга</div>
                                <div class="awards__subtitle">Moscow Financial Expo 2016</div>
                            </li>
                            <li>
                                <div class="awards__title">Лучшая партнерская программа</div>
                                <div class="awards__subtitle">MENA Financial Expo 2016</div>
                            </li>
                            <li>
                                <div class="awards__title">Лучший брокер в Европе</div>
                                <div class="awards__subtitle">По версии портала ForexStars 2015</div>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__col_6 grid__col_12_md awards__image">
                        <img src="/static/landings/images/awards/award-03.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
