<div class="section section_custom">
	<div class="wrapper">
		<div class="grid__row grid__row_center">
			<div class="grid__col_6 grid__col_12_sm">{{text_1}}</div>
            <div class="grid__col_6 grid__col_12_sm">{{text_2}}</div>
		</div>
	</div>
</div>
