<section class="section">
    <div class="wrapper">
        <h2 class="text-center" spellcheck="false">{{title}}</h2>
        <p class="text-center" spellcheck="false">{{text}}</p>
        <div class="gallery popup-images magnific-image">
            <div class="grid__row">
                {% for element in elements %}
                    <div class="grid__col_4 grid__col_6_md grid__col_12_sm gallery__item">
                        <a class="popup-image" href="{{element.img.src}}"><img src="{{element.img.src}}" alt=""></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
