<section class="section">
    <div class="wrapper">
        <h2 class="text-center" spellcheck="false">{{title}}</h2>
        <p class="text-center" spellcheck="false">{{text}}</p>
    </div>
    <div class="gallery carousel carousel_gallery-fader">
        <a class="svg-arrow-prev carousel-prev gallery-arrow-prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="28.125" height="54" viewBox="0 0 28.125 54">
                <path class="cls-1" d="M42.4,213.006L15.994,186.5,42.4,159.994" transform="translate(-15.5 -159.5)"/>
            </svg>
        </a>
        <a class="svg-arrow-next carousel-next gallery-arrow-next">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="54" viewBox="0 0 28 54">
                <path class="cls-1" d="M1807.72,164.994l26.29,26.506-26.29,26.506" transform="translate(-1806.5 -164.5)"/>
            </svg>
        </a>
        <div class="wrapper gallery__inner carousel__inner popup-images magnific-image">
            {% for element in elements %}
                <div class="gallery__item">
                    <a class="popup-image" href="{{element.img.src}}"><img src="{{element.img.src}}" alt=""></a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
