<section class="section">
    <div class="header">
        <div class="wrapper">
            <a href="/" class="header__logo"><img class="header__image" src="/static/img/svg/logo-white.svg" alt=""></a>
        </div>
    </div>
    <div class="section__background">
        <img class="section__image" src="{{img.src}}" alt="">
    </div>
    <div class="wrapper">
        <div class="intro">
            <div class="grid">
                <div class="intro__content">
                    <div class="grid__row grid__row_center">
                        <div class="grid__col_8 grid__col_12_md">
                            <div class="intro__left">
                                <h1 class="intro__title" spellcheck="false">{{title}}</h1>
                                <div class="intro__text" spellcheck="false">
                                    <p>{{text}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="grid__col_4 grid__col_12_md">
                            <div class="form form_base">
                                <form method="post">
                                    <h2 class="form__title">{{form_title}}</h2>
                                    <div class="form__body">
                                        <div class="form__group">
                                            <input type="text" name="first_name" placeholder="Имя">
                                        </div>
                                        <div class="form__group">
                                            <input type="tel" name="phone_mobile" placeholder="Телефон">
                                        </div>
                                        <div class="form__group">
                                            <input type="email" name="email" placeholder="Email">
                                        </div>
                                        <div class="checkbox checkbox_base">
                                            <input type="checkbox" name="is_adult" id="reg-age">
                                            <label for="reg-age">Мне больше 18 лет</label>
                                        </div>
                                        <div class="form__button">
                                            <button type="submit" class="button button_base">{{button}}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
