<section class="section">
    <div class="header">
        <div class="wrapper">
            <a href="/" class="header__logo"><img class="header__image" src="/static/img/svg/logo-white.svg" alt=""></a>
        </div>
    </div>
    <div class="section__background">
        <img class="section__image" src="{{img.src}}" alt="">
    </div>
    <div class="wrapper">
        <div class="intro">
            <div class="intro__content intro__content_center">
                <h1 class="intro__title" spellcheck="false">{{title}}</h1>
                <div class="intro__text" spellcheck="false">
                    <p>{{text}}</p>
                </div>
                <div class="intro__button">
                    <a href="#" class="button button_base">{{button}}</a>
                </div>
            </div>
        </div>
    </div>
</section>
