<div class="program__item">
    <div class="program__author">
        <div class="program__name" spellcheck="false">{{title}}</div>
        <div class="program__image"><img src="{{img.src}}" alt=""></div>
    </div>
    <div class="program__content">
        <h3 class="program__title" spellcheck="false">{{comment}}</h3>
        <div class="program__description">
            <p spellcheck="false">
                {{text}}
            </p>
        </div>
    </div>
</div>
