<div class="quotes__item {% if e_length > 2 %} grid__col_4 grid__col_12_md {% elif e_length == 2 %} grid__col_6 grid__col_12_md {% elif e_length == 1 %} grid__col_12 {% endif %}">
    <div class="quotes__person">
        <div class="quotes__image"><img src="{{img.src}}" alt=""></div>
        <div class="quotes__author">
            <div class="quotes__name" spellcheck="false">{{title}}</div>
            <div class="quotes__status" spellcheck="false">{{comment}}</div>
        </div>
    </div>
    <div class="quotes__text" spellcheck="false">
        {{text}}
    </div>
</div>
