{% load blocks %}
<section class="section">
    <div class="wrapper">
        <div class="section__title">
            <h2 class="text-center" spellcheck="false">{{title}}</h2>
        </div>
        <div class="learning">
            <div class="grid">
                <div class="grid__row grid__row_center">
                    <div class="grid__col_10 grid__col_12_md">
                        <div class="learning__program program program_authors">
                            <div class="program__items">
                                {% render_blocks point %}
                            </div>
                            <div class="program__button">
                                <a href="#modal-registration" data-modal="open" class="button button_base">{{button}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
