<div class="learning__qoute quote">
    <div class="quote__text" spellcheck="false">
        {{text}}
    </div>
    <div class="quote__person">
        <div class="quote__image"><img src="{{img.src}}" alt=""></div>
        <div class="quote__author">
            <div class="quote__name" spellcheck="false">{{title}}</div>
            <div class="quote__status" spellcheck="false">{{comment}}</div>
        </div>
    </div>
</div>
