{% load blocks %}
<section class="section">
    <div class="wrapper">
        <div class="section__title">
            <h2 class="text-center" spellcheck="false">{{title}}</h2>
        </div>
        <div class="learning">
            <div class="grid">
                <div class="grid__row quotes">
                    {% render_blocks quote quote|length %}
                </div>
            </div>
            <div class="text-center">
                <a href="#modal-registration" data-modal="open" class="button button_base">{{button}}</a>
            </div>
        </div>
    </div>
</section>
