<div class="program__item">
    <h3 class="program__title" spellcheck="false">{{title}}</h3>
    <div class="program__description">
        <p spellcheck="false">
            {{text}}
        </p>
    </div>
</div>
