<section class="section product">
    <div class="wrapper">
        <div class="grid">
            <div class="grid__row grid__row_middle">
                <div class="grid__col_7 grid__col_12_md product__description">
                    <div class="product__description-inner">
                        <h2 spellcheck="false">{{title}}</h2>
                        <div class="section__subtitle" spellcheck="false">{{text}}</div>
                        <div spellcheck="false">
                            <p>{{text2}}</p>
                        </div>
                    </div>
                </div>
                <div class="grid__col_5 grid__col_12_md product__image">
                    <div class="product__image-inner">
                        <img src="{{img.src}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
