<section class="section">
    <div class="section__background">
        <img class="section__image" src="{{img.src}}" alt="">
    </div>
    <div class="wrapper">
        <div class="registration">
            <h2 class="text-center" spellcheck="false">{{title}}</h2>
            <div class="form form_inline">
                <form method="post" onsubmit="ga('send', 'event', 'landing', 'register', 'new User');">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ token.csrf_token }}">
                    <div class="form__body">
                        <div class="grid">
                            <div class="grid__row">
                                <div class="grid__col_3 grid__col_6_md grid__col_12_sm">
                                    <div class="form__group">
                                        <span class="form__input-icon icon-user"></span>
                                        <input type="text" name="first_name" placeholder="Имя">
                                    </div>
                                </div>
                                <div class="grid__col_3 grid__col_6_md grid__col_12_sm">
                                    <div class="form__group">
                                        <span class="form__input-icon icon-phone"></span>
                                        <input type="tel" name="phone_mobile" placeholder="Телефон">
                                    </div>
                                </div>
                                <div class="grid__col_3 grid__col_6_md grid__col_12_sm">
                                    <div class="form__group">
                                        <span class="form__input-icon icon-mail"></span>
                                        <input type="email" name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="grid__col_3 grid__col_6_md grid__col_12_sm">
                                    <div class="checkbox checkbox_base">
                                        <input type="checkbox" name="is_adult" id="reg-age-3">
                                        <label for="reg-age-3">Мне больше 18 лет</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form__button">
                            <button type="submit" class="button button_base">{{button}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
