<section class="section">
    <div class="section__background">
        <img class="section__image" src="{{img.src}}" alt="">
    </div>
    <div class="wrapper">
        <div class="registration">
            <div class="form form_base form_large">
                <form method="post" onsubmit="ga('send', 'event', 'landing', 'register', 'new User');">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ token.csrf_token }}">
                    <h2 class="form__title" spellcheck="false">{{title}}</h2>
                    <p class="form__subtitle" spellcheck="false">{{text}}</p>
                    <div class="form__body">
                        <div class="form__group">
                            <input type="text" name="first_name" placeholder="Имя">
                        </div>
                        <div class="form__group">
                            <input type="tel" name="phone_mobile" placeholder="Телефон">
                        </div>
                        <div class="form__group">
                            <input type="email" name="email" placeholder="Email">
                        </div>
                        <div class="checkbox checkbox_base">
                            <input type="checkbox" name="is_adult" id="reg-age-2">
                            <label for="reg-age-2">Мне больше 18 лет</label>
                        </div>
                        <div class="form__button">
                            <button type="submit" class="button button_base">{{button}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
