{% load blocks %}
<div class="{% if e_length == 1 %} grid__col_12 {% endif %}{% if e_length == 2 %} grid__col_6 {% endif %}{% if e_length == 3 %} grid__col_4 {% endif %}{% if e_length > 3 %} grid__col_3 {% endif %}">
    <div class="reviews__item quote">
        <div class="quote__text" spellcheck="false">
            {{text}}
        </div>
        <div class="quote__person">
            <div class="quote__image"><img src="{{img.src}}" alt=""></div>
            <div class="quote__author">
                <div class="quote__name" spellcheck="false">{{title}}</div>
            </div>
        </div>
    </div>
</div>
