{% load blocks %}
<section class="section">
    <div class="wrapper">
        <div class="section__title">
            <h2 class="text-center" spellcheck="false">{{title}}</h2>
        </div>
        <div class="reviews reviews_row">
            <div class="grid">
                <div class="grid__row">
                    {% render_blocks elements elements|length %}
                </div>
            </div>
        </div>
    </div>
</section>
