<div class="reviews__item">
    <div class="reviews__image">
        <img src="{{img.src}}" alt="">
    </div>
    <div class="reviews__text"spellcheck="false">
        {{text}}
    </div>
    <div class="reviews__author" spellcheck="false">{{title}}</div>
</div>
