{% load blocks %}
<section class="section">
    <div class="wrapper">
        <div class="section__title">
            <h2 class="text-center" spellcheck="false">{{title}}</h2>
        </div>
    </div>
    <div class="reviews reviews_carousel carousel carousel_fader">
        <a class="svg-arrow-prev carousel-prev reviews-arrow-prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="28.125" height="54" viewBox="0 0 28.125 54">
                <path class="cls-1" d="M42.4,213.006L15.994,186.5,42.4,159.994" transform="translate(-15.5 -159.5)"/>
            </svg>
        </a>
        <a class="svg-arrow-next carousel-next reviews-arrow-next">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="54" viewBox="0 0 28 54">
                <path class="cls-1" d="M1807.72,164.994l26.29,26.506-26.29,26.506" transform="translate(-1806.5 -164.5)"/>
            </svg>
        </a>
        <div class="wrapper reviews_slick_{{order}} reviews__inner carousel__inner" settings="slickReviewsConfig">
            {% render_blocks elements elements|length %}
        </div>
    </div>
</section>
