<section class="section">
    <div class="wrapper youtube_video">
        <h2 class="text-center" spellcheck="false">{{title}}</h2>
        <iframe width="850" height="390" src="https://www.youtube.com/embed/{{src}}" frameborder="0" allowfullscreen></iframe>
    </div>
</section>
