{% load staticfiles i18n app_tags %}
<!DOCTYPE html>
<html lang="en" ng-app="landApp" ng-cloak>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static "img/favicons/ico/favicon.ico" %}" type="image/x-icon"/>
    <title>Grand Capital &mdash; Генератор лендингов </title>
    <link rel="stylesheet" type="text/css" href="{% static 'landings/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'landings/fonts/fontello/css/fontello.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet">
  </head>
  <body>
    <base href="/landings/" ng-init="BASE_URL = '/landings/'" />
    <div ui-view></div>
  </body>
  <script type="text/javascript" src="{% static 'js/jquery-1.8.0.min.js' %}"></script>
  <script src="{% static 'landings/js/vendor.min.js' %}"></script>
  <script src="{% static 'landings/js/foundation.min.js' %}"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="{% static 'compiled/js/landings.js' %}"></script>
</html>
