{% load i18n %}
<div class="modal" id="modal-registration" data-modal="close">
    <div class="modal__container">
        <a class="modal__close" data-modal="close"><span class="icon-close"></span></a>
        <div class="modal__title">{% trans "Sign up for basic education" %}</div>
        <div class="modal__address address-block">
            <div class="address-block__city" id="office-name">{{ office.name }}</div>
            <div class="address-block__text">
                <div>{% trans "Address" %}: <span id="office-address">{{ office.address }}</span></div>
                <div>{% trans "Phone" %}: <span id="office-phone">{{ office.phone }}</span></div>
            </div>
        </div>
        <form class="modal__form form" action="/live/introductory_lesson/register" method="post" id="copy-form">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="form__group grid__row" id="{{ field.id_for_label }}">
                    <div class="grid__col_4 grid__col_12_sm">
                        <label for="{{ field.id_for_label }}" class="form__label form__label_strong">{{ field.label_tag }}</label>
                    </div>
                    <div class="grid__col_8 grid__col_12_sm">
                        {{ field }}
                        <p class="form__description">{{ field.help_text }}</p>
                        <p class="form__error error hide"></p>
                    </div>
                </div>
            {% endfor %}
            <div class="text-center form__buttons">
                <input type="submit" class="button button_base button_red" value="{% trans "Sign up" %}">
                <a class="button button_base button_outline" data-modal="close">{% trans "Cancel" %}</a>
            </div>
        </form>
    </div>
</div>
