{% load staticfiles i18n app_tags blocks %}
<!DOCTYPE html>
<html lang="en" ng-app="landApp" ng-cloak>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static "img/favicons/ico/favicon.ico" %}" type="image/x-icon"/>
    <title>Grand Capital &mdash; Генератор лендингов </title>
    <link rel="stylesheet" type="text/css" href="{% static 'landings/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'landings/fonts/fontello/css/fontello.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet">
    <!-- Google Analytics -->
    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', '{{gtag}}', 'auto');
        // ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
  </head>
  <body>
    <div class="app-wrapper">
        <div class="top-toolbar">
    		<div class="top-toolbar__col top-toolbar__col_left">
    			<a class="button button_topbar" onclick="window.location.href=window.location.href.replace('view','edit')"><span class="icon-arrow-left"></span>{% trans "Back to editing" %}</a>
    		</div>
    		<div class="top-toolbar__col top-toolbar__col_right">
                <form class="" action="" method="post">
                    {% csrf_token %}
                    <input type="submit" class="button button_save button_progress" value="{% trans "Publish" %}">
                </form>
    		</div>
    	</div>
      <div class="app-wrapper__overlay" data-modal="close"></div>
      <div class="sections">
        {% render_blocks data.blocks %}
      </div>
      <footer class="footer">
          <div class="wrapper">
              <a href="{{ 'risk_disclosure'|agreement_url }}">{% trans "Risk disclosure" %}</a>:
              {% blocktrans %}before starting to trade on currency exchange markets, please make sure that you understand the risks connected with trading using leverage and that you have sufficient level of training.{% endblocktrans %}
              <p><a href="{{ 'privacy_policy'|agreement_url }}">{% trans "Privacy policy" %}</a> {% trans "describes in which way Company collects, keeps and protects Clients personal data" %}</p>
          </div>
      </footer>
    </div>
  </body>
  <script type="text/javascript" src="{% static 'compiled/js/landings_view.js' %}"></script>
</html>
