{% extends "admin/change_form.html" %}
{% load i18n admin_modify %}

{% block content %}
    {{block.super}}
    <hr>
    {% if request.user.is_superuser and moderating %}
        <div>
            {% for block in landing %}
                    {% for element in block.removed %}
                        {% for key, value in element.items %}
                            <div style="background-color: #ffc9c9; padding: 5px">
                                {% if value.src %}
                                    <img style="height: 200px;" src="{{value.src}}" alt="" />
                                {% else %}
                                    <p>{{value}}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for element in block.added %}
                        {% for key, value in element.items %}
                            <div style="background-color: #dbffc9; padding: 5px">
                                {% if value.src %}
                                    <img style="height: 200px;" src="{{value.src}}" alt="" />
                                {% else %}
                                    <p>{{value}}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for element in block.changed %}
                        {% for key, value in element.items %}
                            <div style="background-color: #faffc9; padding: 5px">
                                {% if value.src %}
                                    <img style="height: 200px;" src="{{value.src}}" alt="" />
                                {% else %}
                                    <p>{{value}}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endfor %}
            {% endfor %}
        </div>
        <div class="submit-row">
            <form action="{% url 'landings:moderating' object_id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="{% trans 'Cancel' %}" name="_denialbutton" />
                <input type="submit" value="{% trans 'Accept' %}" class="default" name="_acceptbutton" />
            </form>
        </div>
    {% endif %}
{% endblock %}
